@use 'sass:meta';
@use "../mixins" as *;
@use "../tokens" as *;

@layer base, components, utilities, app;

:root {
  --grid-margin: var(--size-sm);
  --grid-screenwidth: 1940px;
  --column-gap: var(--size-2xl);
  --row-gap: var(--size-2xl);
  --header-height: calc(var(--size-ml) * 2 + 19px);

  @include mq(lg) {
    --header-offset: calc(var(--header-height) + 15vh);
  }

  @each $key, $val in tokens("size") {
    --size-#{$key}: #{$val};
  }

  @each $key, $val in tokens("ratio") {
    --ratio-#{$key}: #{$val};
  }

  @each $key, $val in tokens("font-weight") {
    --font-weight-#{""+$key}: #{$val};
  }

  @each $key, $val in tokens("font-family") {
    --font-family-#{$key}: #{$val};
  }

  @each $key, $val in tokens("font-size") {
    --font-size-#{$key}: #{$val};
  }

  @each $key, $val in tokens("blur") {
    --blur-#{$key}: #{$val};
  }

  @each $key, $val in tokens("radius") {
    --radius-#{$key}: #{$val};
  }

  @each $key, $val in tokens("shadow") {
    --shadow-#{$key}: #{$val};
  }

  @each $key, $val in tokens("colors", "default") {
    --color-#{$key}: #{$val};
  }
}
