@use "../mixins" as *;
@use "../tokens" as *;

@layer base, components, utilities, app;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* TODO refactor this */
:root {
  --grid-margin: 20px;
  --grid-screenwidth: 1680px;
  --column-gap: var(--size-2xl);
  --row-gap: var(--size-2xl);
  --header-height: 70px;

  @include mq(md) {
    --grid-margin: 32px;
    --header-height: calc(var(--size-xl) * 2 + 37px);
  }

  @include mq(lg) {
    --grid-margin: 48px;
  }
}


:root {
  @each $key, $val in tokens("size") {
    --size-#{$key}: #{$val};
  }

  @each $key, $val in tokens("ratio") {
    --ratio-#{$key}: #{$val};
  }

  @each $key, $val in tokens("font-weight") {
    --font-weight-#{""+$key}: #{$val};
  }

  @each $key, $val in tokens("font-family") {
    --font-family-#{$key}: #{$val};
  }

  @each $key, $val in tokens("font-size") {
    --font-size-#{$key}: #{$val};
  }

  @each $key, $val in tokens("blur") {
    --blur-#{$key}: #{$val};
  }

  @each $key, $val in tokens("radius") {
    --radius-#{$key}: #{$val};
  }

  @each $key, $val in tokens("shadow") {
    --shadow-#{$key}: #{$val};
  }

  @each $key, $val in tokens("colors", "default") {
    --color-#{$key}: #{$val};
  }
}
