.about {
  h2 {
    margin-bottom: var(--size-md);
  }

  .spotlight {
    position: relative;

    button {
      position: absolute;
      z-index: 1;
      inset: auto auto var(--size-lg) var(--size-lg);
    }
  }

  &__featured {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
    }
  }

  &__list {
    li {
      font-variation-settings: var(--font-weight-normal);
      display: flex;
      align-items: center;
      gap: 4px;

      &[data-count]::before {
        content: attr(data-count)"×";
        color: var(--color-faint);
        font-variation-settings: var(--font-weight-medium);
      }
    }
  }
}