@use "../mixins" as *;

.about {
  h2 {
    margin-bottom: var(--size-ml);
  }

  &__clients {
    column-count: 2;

    li {
      display: flex;
      align-items: flex-end;
      gap: 4px;

      &[data-count]::after {
        content: "("attr(data-count)")";
        color: var(--color-faint);
        font-size: smaller;
      }
    }

    @include mq(md) {
      column-count: 3;
    }
  }

  &__featured {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
    }
  }

  .spotlight {
    position: relative;

    button {
      position: absolute;
      z-index: 1;
      inset: auto auto var(--size-md) var(--size-md);
    }
  }
}