@use "../mixins" as *;

.about {
  .wrapper {
    height: 300vh;
    view-timeline-name: --about;
    view-timeline-axis: block;

    &__container {
      position: sticky;
      top: 0;
    }
  }

  .track {
    animation-timeline: --about;

    @include mq(md) {
      --item-width: 50%;//calc(5 / 12 * 100%);
    }
  }
}

.stat {
  display: flex;
  flex-direction: column;
  min-height: var(--size-fullscreen);

  .figure {
    border-top: 1px solid var(--color-border);
    text-indent: -0.07em;
    display: flex;
    overflow: hidden;

    i {
      display: block;
      will-change: transform;
      opacity: 0;
      transform: translateY(.8em);
      transition: transform 750ms ease, opacity 750ms ease;
      transition-delay: calc(var(--index) * 45ms);
    }

    &.is-inview i {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  li {
    border-bottom: 1px solid var(--color-border);
    padding: var(--size-sm) 0;
  }
}