@use "../mixins" as *;

.accolades {
  contain: layout;
  height: 300vh;
  view-timeline-name: --accolades;
  view-timeline-axis: block;

  .wrapper {
    position: sticky;
    top: 0;
    height: 100svh;
  }

  .track {
    animation-timeline: --accolades;
    padding-top: var(--size-header-offset);
  }

  @include mq(md) {
    height: 300vh;

    .track {
      --item-width: 50%; //calc(5 / 12 * 100%);
    }
  }
}
