.animate-wave {
  display: flex;
  flex-wrap: wrap;
  column-gap: .2em;
}

.wave-word {
  display: inline-block;
  opacity: 0;
  transform: translateY(var(--wave-distance, 16px)) rotate(2deg);

  animation-name: waveFadeUp;
  animation-duration: var(--wave-duration, 600ms);
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  animation-delay: var(--word-delay);

  span {
    display: inline-block;
    animation: 750ms weight-wave ease-in-out forwards;
    animation-delay: calc(var(--i) * 70ms + var(--word-delay) + 200ms);
    font-variation-settings: "wght" 300;
  }
}

@keyframes waveFadeUp {
  to {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes weight-wave {
  0%, 100% {
    font-variation-settings: "wght" 300;
  }

  45% {
    font-variation-settings: "wght" 750;
  }
}
