@use "../mixins" as *;

.at-a-glance {
  height: 300vh;
  view-timeline-name: --at-a-glance;
  view-timeline-axis: block;

  .wrapper {
    position: sticky;
    top: 0;
    height: 100svh;
  }

  .track {
    animation-timeline: --at-a-glance;

    @include mq(md) {
      --item-width: 50%;//calc(5 / 12 * 100%);
    }
  }
}

.stat {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  padding-top: var(--size-header-offset);
  padding-bottom: var(--size-4xl);

  .figure {
    border-top: 1px solid var(--color-border);
    text-indent: -0.07em;
    display: flex;
    overflow: hidden;

    i {
      display: block;
      will-change: transform;
      opacity: 0;
      transform: translateY(.8em);
      transition: transform 750ms ease, opacity 750ms ease;
      transition-delay: calc(var(--index) * 45ms);
    }

    &.is-inview i {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  li {
    border-bottom: 1px solid var(--color-border);
    padding: var(--size-sm) 0;
  }
}