@use "../mixins" as *;

.awards {
  h2 {
    padding-top: var(--size-xl);
    border-top: 1px solid var(--color-border);
    margin: 0 0 auto;
    color: var(--color-black-text);
  }

  .stat li {
    padding: 0;
  }

  a {
    display: block;
    padding: var(--size-sm) 0;
    transition: background-color 300ms, color 300ms;

    position: relative;
    overflow: hidden;

    &::before {
      content: attr(data-title);
      padding: var(--size-sm) 8px;
      background-color: var(--color-balance-text);
      color: var(--color-white);
      position: absolute;
      inset: 0;
      transition: translate 120ms ease;
      translate: 0 105%;
      text-align: right;
    }

    &:hover,
    &:focus-visible {
      &::before {
        translate: 0 0%;
      }
    }
  }
}
