@use "../mixins" as *;

::-webkit-scrollbar {
  display: none;
}

html, body {
  cursor: default;
  height: 100svh;
  background: var(--color-white);
}

html, body,
section,
.lenis {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}

main {
  overflow-y: auto;
  overscroll-behavior: none;
  height: 100svh;
}

section {
  padding: var(--size-header-offset) var(--grid-margin) var(--size-4xl);

  &.fullscreen {
    height: 100svh;
    padding-bottom: var(--size-footer-offset);
  }
}

.columns-12 > video,
.columns-12 > img {
  width: 100%;
  max-height: 90svh;
  object-fit: contain;
}