@use "../mixins" as *;

::-webkit-scrollbar {
  display: none;
}

html,
section {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

body {
  background: var(--color-white);
}

html, body {
  height: 100svh;
}

i, em {
  font-style: normal;
}

main {
  overflow-y: auto;
  overscroll-behavior: none;
  height: 100svh;
}

section {
  padding: var(--size-header-offset) var(--grid-margin) var(--size-4xl);

  &.fullscreen {
    height: 100svh;
    padding-bottom: var(--size-footer-offset);
  }
}

.link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 0 1px;
  transition: background-size .3s, color .3s;

  &:hover,
  &:focus-visible {
    background-position: 0 100%;
    background-size: 100% 1px;
    color: var(--color-black-text);
  }
}

.columns-12 > video {
  width: 100%;
  max-height: 90svh;
}