@use "../mixins" as *;

.study {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--size-8xl);

  min-height: 100svh;
  padding-top: var(--size-header-offset-xs);
  padding-bottom: var(--size-5xl);

  svg {
    width: 50vmin;
    height: auto;
    filter: grayscale(100%);
    opacity: .85;
  }

  @include mq(md, max) {
    svg {
      order: -1;
    }
  }

  @include mq(md) {
    .columns > div {
      --step: 50px;
      transform: translateY(calc(var(--index) * var(--step)));

      animation: studyColumns ease both;
      animation-timeline: view();
      animation-range: 0% 70%;

      &:nth-child(1) { --index: 1; }
      &:nth-child(2) { --index: 2; }
      &:nth-child(3) { --index: 3; }
      &:nth-child(4) { --index: 4; }
    }

    svg {
      animation: studyLogo ease both;
      animation-timeline: view();
      animation-range: 50% 80%;
    }
  }
}

@keyframes studyLogo {
  to {
    opacity: 0;
  }
}

@keyframes studyColumns {
  to {
    transform: translateY(0%);
  }
}
