@use "../mixins" as *;

.study {
  contain: layout;
  content-visibility: auto;

  display: flex;
  flex-direction: column;
  row-gap: var(--size-8xl);

  min-height: 100svh;
  padding-top: var(--size-header-offset-xs);
  padding-bottom: var(--size-5xl);

  svg {
    width: 50vmin;
    height: auto;
    //filter: grayscale(100%);
    opacity: .85;
  }

  picture {
    display: block;
    animation: grayscale ease both;
    animation-timeline: view();
    animation-range: 20% 80%;

    img {
      clip-path: inset(2px 1px 0 0);
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: var(--size-5xl);
    }
  }

  @include mq(lg, max) {
    .columns>div:nth-child(5) {
      order: -1;
    }
  }

  @include mq(lg) {
    justify-content: space-between;

    .columns>div {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        min-height: 50svh;
      }

      &:nth-child(5) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        svg {
          position: sticky;
          bottom: var(--size-5xl);
        }
      }
    }
  }
}

@keyframes grayscale {
  from {
    filter: grayscale(1);
  }
  50% {
    opacity: 1;
    filter: grayscale(0);
  }
  to {
    filter: grayscale(1);
  }
}