.site-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 9999;
  padding: var(--grid-margin);
  height: var(--footer-height);

  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    padding: var(--size-sm) 0;
  }
}
