@use "../mixins" as *;

.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;

  height: var(--header-height);
  padding: 0 var(--grid-margin);

  font-variation-settings: var(--font-weight-bold);
  background-color: var(--color-white);

  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
    height: 100%;

    @include mq(md) {
      li:last-child {
        display: flex;
        justify-content: flex-end;
        text-align: right;
      }
    }
  }

  @include mq(lg) {
    background-color: transparent;
    filter: invert(100%);
    mix-blend-mode: exclusion;
  }
}
