@use "../mixins" as *;

.header__container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-weight: 400;
  padding-block: var(--size-2xl);
  filter: invert(100%);
  mix-blend-mode: exclusion;

  nav {
    a {
      &.is-active .wave-word {
        color: #9D9B97;
      }
    }
  }

  @include mq(md) {
    top: 0;
    bottom: auto;
  }
}
