@use "../mixins" as *;

.hero {
  height: 300vh;
  view-timeline-name: --hero;
  view-timeline-axis: block;

  display: flex;
  flex-direction: column;

  .wrapper {
    position: sticky;
    top: 0;
    height: 100svh;
  }

  &__track {
    --track-gap: calc(var(--size-4xl) * 1);
    display: flex;
    gap: var(--track-gap);
    align-items: flex-start;
    padding-top: var(--size-header-offset);

    animation: hero linear both;
    animation-timeline: --hero;
    animation-range: contain 0%;

    &--intro p {
      max-width: 19em;
    }

    &--item {
      width: 100%;
      flex-shrink: 0;
    }
  }

  @include mq(md) {
    &__track--intro {
      padding-left: calc(33.3333334% + var(--column-gap) / 2);
    }
  }

  @include mq(lg) {
    height: 600vh;

    &__track--intro {
      padding-left: calc(50% + var(--column-gap) / 2);
    }
  }
}

@keyframes hero {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-300% - calc(var(--track-gap) * 3)));
  }
}
