@use "../mixins" as *;

.hero {
  height: calc(100vh + 300vw);
  view-timeline-name: --hero;
  view-timeline-axis: block;

  display: flex;
  flex-direction: column;

  .wrapper {
    position: sticky;
    top: 0;
    height: 100svh;
  }

  &__track {
    display: flex;
    align-items: flex-start;
    margin-left: calc(-1 * var(--size-2xl));

    animation: hero linear both;
    animation-timeline: --hero;
    animation-range: contain 0%;

    &--item {
      padding-top: var(--size-header-offset);
      width: 100%;
      flex-shrink: 0;

      > * {
        margin-left: var(--size-2xl);
      }
    }

    &--intro p {
      max-width: 19em;
    }
  }

  @include mq(md) {
    &__track--intro {
      padding-left: 33.3333334%;
    }
  }

  @include mq(lg) {
    height: 600vh;

    &__track--intro {
      padding-left: 50%;
    }
  }
}

@keyframes hero {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-300%);
  }
}
