@use "../mixins" as *;

.hero {
  padding-top: var(--size-10xl);
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  font-size: var(--font-size-3xl);

  p {
    max-width: 19em;
  }
}