.home {
  picture {
    display: block;
    height: 100%;
    margin-left: 60px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;

    translate: 0 -5%;
    transition: translate 666ms ease-out;
  }

  &.is-active img {
    translate: 0%;
    transition: 0ms ease;
  }
}
