@use "../mixins" as *;

.home {
  img {
    width: 230px;
    height: 100%;

    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }
  }

  &__work {
    font-variation-settings: var(--font-weight-bold);

    a:hover {
      color: var(--color-faint);
    }

    li {
      overflow: hidden;

      &:first-child {
        margin-bottom: var(--size-ml);
      }
    }

    @include mq(md, max) {
      span:nth-child(2) {
        text-align: right;
      }

      span:last-child {
        display: none;
      }
    }
  }

  video {
    width: 100%;
    max-height: 90vh;
    background-color: var(--color-black);
    filter: grayscale(1);
    transition: filter 600ms;
    object-fit: contain;
    object-position: right;

    &:hover {
      filter: grayscale(0);
    }
  }
}
