@use "../mixins" as *;

@include mq(md, max) {
  .menu-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      height: 1.1em;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    b {
      transition: transform 600ms;
    }

    &[aria-expanded="true"] {
      b {
        transform: translateY(-100%);
      }
    }
  }

  .menu {
    position: fixed;
    inset: var(--header-height) 0 0 0;
    z-index: 1;

    font-size: var(--font-size-5xl);

    padding: var(--size-4xl) var(--grid-margin);
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      list-style: none;
    }

    &__contact {
      padding-block: var(--size-2xl);
      border-top: 1px solid var(--color-black);
    }
  }

  .header__nav,
  .site-footer::before {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0 1px;
    transition: background-size 666ms;
  }

  .site-footer::before {
    content: "";
    position: absolute;
    inset: auto 0 100% 0;
    height: 1px;
    background-position: 0 0;
  }

  main {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
    transition: all 666ms;
  }

  /*animations*/

  .menu {
    clip-path: inset(0 0 100%);
    transition: clip-path 600ms;
    will-change: clip-path;

    li {
      overflow: hidden;
    }

    a {
      display: block;
      opacity: 0;
      transform: translateY(-110%);
      transition: opacity, transform;
      transition-delay: calc(0ms);
      transition-duration: 0ms, 0ms;
    }

    &-open {
      .menu {
        clip-path: inset(0 0 0 0);
      }

      .header__nav {
        background-position: 0 100%;
        background-size: 100% 1px;
      }

      .site-footer::before {
        background-position: 100% 0;
        background-size: 100% 1px;
      }

      main {
        opacity: .1;
        filter: blur(2px);
        transform: scale(0.995);
      }

      a {
        transition-delay: calc(100ms + 80ms * var(--index));
        transition-duration: 800ms, 300ms;
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

@include mq(md) {
  .menu {
    display: none;
  }
}
