@use "../mixins" as *;

@include mq(md, max) {
  .menu-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-variation-settings: var(--font-weight-black);

    span {
      height: 1.1em;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    b {
      transition: transform 600ms;
    }

    &[aria-expanded="true"] {
      b {
        transform: translateY(-100%);
      }
    }
  }

  .menu {
    position: fixed;
    inset: var(--size-header-offset) 0 0 0;
    z-index: 1;

    font-size: var(--font-size-5xl);
    color: var(--color-black-text);

    padding: var(--size-4xl) var(--grid-margin);
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a[aria-current="page"] {
      color: var(--color-faint);
    }

    li {
      list-style: none;
    }

    &__contact {
      padding-block: var(--size-2xl);
      border-top: 1px solid var(--color-border);
    }
  }

  .header__nav {
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0 1px;
    transition: background-size 666ms;
  }

  .menu-open .header__nav {
    background-position: 0 100%;
    background-size: 100% 1px;
  }

  /*animations*/

  .menu {
    clip-path: inset(0 0 100%);
    transition: clip-path 600ms;
    will-change: clip-path;

    li {
      overflow: hidden;
    }

    a {
      display: block;
      opacity: 0;
      transform: translateY(-75%);
      transition: opacity, transform;
      transition-duration: 175ms, 200ms;
      transition-delay: 0;
      will-change: opacity, transform;
      transition-delay: calc(600ms);
    }

    &.is-open {
      clip-path: inset(0 0 0 0);

      a {
        transition-delay: calc(220ms + 80ms * var(--index)), calc(200ms + 80ms * var(--index));
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}

@include mq(md) {
  .menu {
    display: none;
  }
}