.project {
  padding-block: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .columns {
    height: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    clip-path: inset(2px);
    max-height: 100svh;
    object-fit: contain;
    object-position: center right;
  }
}