.award {
  contain: layout;
  display: flex;

  &:not(:first-child) {
    padding-top: var(--size-3xl);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--size-3xl);
  }

  h3 {
    flex: 0 0 33%;
    margin: var(--size-xs) 0 0;
  }

  a {
    display: inline-block;
    margin: var(--size-sm) 0;
  }
}