[data-reveal] {
  opacity: 0;
  transform: translateY(.5em);
  will-change: transform, opacity;
}

[data-reveal="clipy"] {
  opacity: 0;
  transform: none;
  clip-path: inset(10% 0);
  will-change: clip-path, opacity;
}

[data-reveal].is-inview {
  animation: 
    reveal-y-transform 700ms ease var(--transition-delay, 25ms) both,
    reveal-opacity 1000ms ease var(--transition-delay, 25ms) both;
}

[data-reveal="clipy"].is-inview {
  animation:
    reveal-clipy 1000ms ease var(--transition-delay, 25ms) both,
    reveal-opacity 2000ms ease var(--transition-delay, 25ms) both;
}

@keyframes reveal-y-transform {
  from {
    transform: translateY(.5em);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes reveal-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes reveal-clipy {
  from {
    clip-path: inset(10% 0);
  }

  to {
    clip-path: inset(-1px);
  }
}

@media (prefers-reduced-motion: reduce) {
  [data-reveal] {
    opacity: 1 !important;
    transform: none !important;
    clip-path: none !important;
    animation: none !important;
  }
}