@use "../mixins" as *;

.selected {
  .select {
    position: relative;
    view-timeline-name: --image;

    &__img {
      position: relative;
      overflow: hidden;
    }
  }

  picture {
    display: block;
    border-radius: 6px;

    animation: image-parallax linear both;
    animation-timeline: --image;
    animation-range: cover;

    &:first-child {
      position: absolute;
      inset: 0;
      z-index: -1;

      filter: blur(20px);
      scale: 1.3;
    }

    &:last-child {
      padding: 25% 15%;

      .image {
        border-radius: 2px;
        overflow: hidden;
      }
    }
  }

  figcaption {
    padding: var(--size-ml) 0;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  @include mq(md) {
    figure.select:nth-child(even) {
      margin-top: var(--size-10xl);
      margin-bottom: calc(-1 * var(--size-10xl));
    }
  }

  @include mq(lg) {
    .columns {
      --column-gap: var(--grid-margin);
    }

    figure.select:nth-child(even) {
      margin-block: 0;
    }

    picture:first-child {
      display: none;
    }

    picture:last-child {
      padding: 0;
      animation: none;
    }

    figcaption div {
      &:first-child span:first-child {
        display: none;
      }
      &:last-child {
        display: none;
      }
    }

    a {
      position: absolute;
      inset: 0;
      z-index: 99;
    }
  }
}

@keyframes image-parallax {
  from {transform: translateY(-25%);}
  to {transform: translateY(25%);}
}
