@use "../mixins" as *;

.card {
  position: relative;
  background: #eee;
  clip-path: inset(0);
  font-variation-settings: var(--font-weight-black);

  a {
    display: block;
    position: relative;
    z-index: 2;

    &:hover,
    &:focus-visible {
      img {
        object-fit: cover;
        object-position: bottom center;
        filter: none;
        height: 50svh;
        transition: object-position ease 8s;
        transition-delay: 333ms;
      }
    }
  }

  picture {
    height: 75svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  img {
    height: 40svh;
    width: 100%;
    object-position: top center;
    object-fit: contain;
    filter: grayscale(.96) contrast(1.4) brightness(1.05);
    clip-path: inset(1px 0px);
  }

  &__index {
    position: sticky;
    top: 50svh;
    line-height: 0;
    transform: translateY(.5em);

    //filter: invert(100%);
    //mix-blend-mode: exclusion;
    z-index: -1;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-variation-settings: var(--font-weight-black);
    color: var(--color-black-text);
    background-color: #eee;
  }
}
