@use "../mixins" as *;

.spotlight {
  padding-top: var(--size-header-offset);
  // https://frontendmasters.com/blog/scoped-scroll-timelines/

  @include mq(md) {
    timeline-scope: --video;

    animation: spotlight-background ease-in both;
    animation-timeline: --video;
    animation-range: 0% 50%;
  }

  .use-inview {
    will-change: transform;
    opacity: 0;
    transform: translateY(50%);
    transition: transform 750ms ease, opacity 750ms ease;
    transition-delay: calc(var(--index) * 125ms);

    &.is-inview {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  >.wrapper,
  &__video {
    padding-bottom: var(--size-5xl);
  }

  >.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-5xl);

    svg {
      width: calc(25vmax - var(--column-gap));
      height: auto;
      filter: grayscale(1);

      @include mq(md, max) {
        display: none;
      }
    }

    @include mq(md) {
      position: sticky;
      top: var(--size-header-offset);
      min-height: calc(100svh - var(--size-header-offset));
    }
  }

  &__video {
    @include mq(md) {
      margin-top: var(--size-header-offset);
      position: relative;
      z-index: 101;
      height: 200svh;

      view-timeline-name: --video;
      view-timeline-axis: block;

      .wrapper {
        position: sticky;
        top: var(--size-xl);
        height: calc(100vh - var(--size-xl)*2);
      }
    }

    figure {
      position: relative;
      height: 100%;
      flex-shrink: 0;

      @include mq(md) {
        transform: scale(.6);
        filter: grayscale(1);

        animation: spotlight ease-in both;
        animation-timeline: --video;
        animation-range: 0% 50%;
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: auto;
      border-radius: 8px;
    }

    button {
      position: absolute;
      z-index: 1;
      inset: 16px 16px auto auto;
      color: white;
    }
  }
}

@keyframes spotlight {
  50% {
    filter: grayscale(.8);
  }

  65% {
    filter: grayscale(0);
  }

  to {
    filter: grayscale(0);
    transform: scale(1);
  }
}

@keyframes spotlight-background {
  65% {
    background: var(--color-white);
  }

  to {
    background: #006394;
  }
}

