@use "../mixins" as *;

.stats {
  height: 300vh;
  view-timeline-name: --stats;
  view-timeline-axis: block;

  .wrapper {
    position: sticky;
    top: 0;
    height: 100svh;
  }

  &__track {
    display: flex;
    align-items: flex-start;
    margin-left: calc(-1 * var(--size-2xl));

    animation: stats_mobile linear both;
    animation-timeline: --stats;
    animation-range: contain 10%;

    @include mq(md) {
      animation: stats linear both;
      animation-timeline: --stats;
      animation-range: contain 10%;
    }
  }
}

.stat {
  flex-shrink: 0;
  width: 100%;

  &__container {
    min-height: 100svh;
    display: flex;
    flex-direction: column;

    padding-top: var(--size-header-offset-xs);
    padding-bottom: var(--size-5xl);
    margin-left: var(--size-2xl);

    .figure {
      font-size: max(var(--font-size-7xl), 20vh);
      font-weight: 300;
      letter-spacing: -.12em;
      line-height: 1.2;
      border-top: 1px solid var(--color-border);
      text-indent: -0.07em;
    }
  }

  li {
    border-bottom: 1px solid var(--color-border);
    padding: var(--size-sm) 0;
  }

  @include mq(md) {
    width: 50%;
  }
}

@keyframes stats_mobile {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-400%);
  }
}

@keyframes stats {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-150%);
  }
}