picture {
  view-transition-name: image;
}

::view-transition-image-pair(image) {
  overflow: hidden;
}

::view-transition-old(image) {
  animation: transition-image 500ms linear forwards;
}

::view-transition-new(image) {
  clip-path: inset(0% 50%);
  opacity: 0;
  animation: transition-image 500ms linear forwards;
  animation-delay: 500ms;
  animation-direction: reverse;
}

@keyframes transition-image {
  from {
    clip-path: inset(0%);
    //transform: translateY(0%);
    opacity: 1;
  }
  to {
    clip-path: inset(0% 50%);
    //transform: translateY(-100%);
    opacity: 0;
  }
}