@use "sass:list";
@use "sass:string";

:root {
  --transition-animation-duration: 500ms;
}

$transitions: image, line, line-1, line-2;

@function vt($type, $names, $prefix: "") {
  $selectors: ();

  @each $name in $names {
    $selectors: list.append(
      $selectors,
      string.unquote("#{$prefix}::view-transition-#{$type}(#{$name})"),
      comma
    );
  }

  @return $selectors;
}

@each $name in $transitions {
  .#{$name} {
    view-transition-name: $name;
  }
}

#{vt("old", $transitions)},
#{vt("new", $transitions)} {
  animation: var(--transition-animation-duration) cubic-bezier(.76,0,.24,1) forwards;
}

#{vt("old", $transitions)} {
  animation-name: fly-y-out;
}

#{vt("new", $transitions)} {
  transform: translateY(100%);
  animation-name: fly-y-in;
}

#{vt("old", $transitions, ":active-view-transition-type(backwards)")} {
  animation-name: fly-y-in;
  animation-direction: reverse;
}

#{vt("new", $transitions, ":active-view-transition-type(backwards)")} {
  transform: translateY(-100%);
  animation-name: fly-y-out;
  animation-direction: reverse;
}

@keyframes fly-y-out {
  from {transform: translateY(0%)}
  to {transform: translateY(-100%)}
}

@keyframes fly-y-in {
  from {transform: translateY(100%)}
  to {transform: translateY(0%)}
}
