html:has(.has-scroller) {
  view-transition-name: scroller;
}

:active-view-transition-type(forwards) {
  &::view-transition-new(scroller) {
    animation-name: fly-in-from-right;
  }
  &::view-transition-old(scroller) {
    animation-name: fly-out-to-left;
  }
}

:active-view-transition-type(backwards) {
  &::view-transition-new(scroller) {
    animation-name: fly-in-from-left;
  }
  &::view-transition-old(scroller) {
    animation-name: fly-out-to-right;
  }
}
