html:not(.page-home) main,
html:not(.page-project) main {
  view-transition-name: scroller;
}

:active-view-transition-type(forwards) {
  &::view-transition-old(scroller) {
    animation-name: fade-out;
    animation-duration: 300ms;
  }

  &::view-transition-new(scroller) {
    animation-name: fade-in;
    animation-delay: 300ms;
    opacity: 0;
  }
}

:active-view-transition-type(backwards) {
  &::view-transition-old(scroller) {
    animation-name: fade-out;
    animation-duration: 300ms;
  }

  &::view-transition-new(scroller) {
    animation-name: fade-in;
    animation-delay: 300ms;
    opacity: 0;
  }
}
