section:not(.project) {
  view-transition-name: scroller;
}

:active-view-transition-type(forwards) {
  &::view-transition-new(scroller) { animation-name: fly-from-bottom; }
  &::view-transition-old(scroller) { animation-name: fly-to-top; }
}

:active-view-transition-type(backwards) {
  &::view-transition-new(scroller) { animation-name: fly-from-top; }
  &::view-transition-old(scroller) { animation-name: fly-to-bottom; }
}
