@use "../mixins" as *;

.vt-logo-1 { view-transition-name: vtlogo1; }
.vt-logo-2 { view-transition-name: vtlogo2; }

::view-transition-old(vtlogo1) { animation-name: fly-out-to-top; }
::view-transition-new(vtlogo1) { animation-name: fly-in-from-bottom; }
::view-transition-old(vtlogo2) { animation-name: fly-out-to-bottom; }
::view-transition-new(vtlogo2) { animation-name: fly-in-from-top; }

/*
 * Disables animations
 * when menu items are also moving up/down.
 */
@include mq(lg) {
  body.vt-nav-home {
    .vt-logo-1,
    .vt-logo-2 {
      view-transition-name: none;
    }
  }
}