@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root {
  --transition-animation-duration: 600ms;
}

::view-transition-group(*) {
  overflow: hidden;
}

@keyframes fly-y-out {
  from {transform: translateY(0%)}
  to {transform: translateY(-100%)}
}

@keyframes fly-y-in {
  from {transform: translateY(100%)}
  to {transform: translateY(0%)}
}


@keyframes fly-x-out {
  from {
    transform: translateX(0%)
  }

  to {
    transform: translateX(-100%)
  }
}

@keyframes fly-x-in {
  from {
    transform: translateX(100%)
  }

  to {
    transform: translateX(0%)
  }
}

::view-transition-group(*),
::view-transition-new(*),
::view-transition-new(*),
::view-transition-image-pair(*) {
  //background-color: var(--color-white);
  //mix-blend-mode: normal !important;
  //isolation: auto !important;
}


@keyframes fly-out-to-top {
  from { transform: translateY(0%) }
  to { transform: translateY(-100%) }
}

@keyframes fly-out-to-bottom {
  from { transform: translateY(0%) }
  to { transform: translateY(100%) }
}

@keyframes fly-in-from-bottom {
  from { transform: translateY(100%) }
  to { transform: translateY(0%) }
}

@keyframes fly-in-from-top {
  from { transform: translateY(-100%) }
  to { transform: translateY(0%) }
}