@media (prefers-reduced-motion: no-preference) {
  @view-transition {navigation: auto}
}

:root {
  --transition-animation-duration: 600ms;
}

::view-transition-group(*) {overflow: hidden}

::view-transition-image-pair(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation: var(--transition-animation-duration) cubic-bezier(.76, 0, .24, 1) forwards;
}

@keyframes fly-to-top {
  from { transform: translateY(0%) }
  to { transform: translateY(-100%) }
}

@keyframes fly-to-bottom {
  from { transform: translateY(0%) }
  to { transform: translateY(100%) }
}

@keyframes fly-to-left {
  from { transform: translateX(0%) }
  to { transform: translateX(-100%) }
}

@keyframes fly-to-right {
  from { transform: translateX(0%) }
  to { transform: translateX(100%) }
}

@keyframes fly-from-top {
  from { transform: translateY(-100%) }
  to { transform: translateY(0%) }
}

@keyframes fly-from-bottom {
  from { transform: translateY(100%) }
  to { transform: translateY(0%) }
}

@keyframes fly-from-left {
  from { transform: translateX(-100%) }
  to { transform: translateX(0%) }
}

@keyframes fly-from-right {
  from { transform: translateX(100%) }
  to { transform: translateX(0%) }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}



// Old
@keyframes fly-y-out {
  from {transform: translateY(0%)}
  to {transform: translateY(-100%)}
}

@keyframes fly-y-in {
  from {transform: translateY(100%)}
  to {transform: translateY(0%)}
}