@media (prefers-reduced-motion: no-preference) {
  @view-transition {navigation: auto}
}

/*
 * Defaults
 */
:root {
  --transition-animation-duration: 666ms;
}

::view-transition-group(root),
::view-transition-image-pair(root),
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-group(*) {
  // overflow: hidden;
  // allow horizontal overflow for text
  clip-path: inset(0 -9999px 0 -9999px);
}

//::view-transition-image-pair(*),
//::view-transition-old(*),
//::view-transition-new(*) {
//  animation: var(--transition-animation-duration) cubic-bezier(.76, 0, .24, 1) forwards;
//  inline-size: auto;
//  block-size: auto;
//  width: auto;
//  height: auto;
//}

/*
 * Keyframes
 */
@keyframes fly-to-top {
  from { transform: translateY(0%) }
  to { transform: translateY(-100%) }
}

@keyframes fly-to-bottom {
  from { transform: translateY(0%) }
  to { transform: translateY(100%) }
}

@keyframes fly-to-left {
  from { transform: translateX(0%) }
  to { transform: translateX(-100%) }
}

@keyframes fly-to-right {
  from { transform: translateX(0%) }
  to { transform: translateX(100%) }
}

@keyframes fly-from-top {
  from { transform: translateY(-100%) }
  to { transform: translateY(0%) }
}

@keyframes fly-from-bottom {
  from { transform: translateY(100%) }
  to { transform: translateY(0%) }
}

@keyframes fly-from-left {
  from { transform: translateX(-100%) }
  to { transform: translateX(0%) }
}

@keyframes fly-from-right {
  from { transform: translateX(100%) }
  to { transform: translateX(0%) }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}