<section class="at-a-glance" id="at-a-glance" aria-labelledby="heading-at-a-glance">
  <h2 id="heading-at-a-glance" class="sr-only">At a Glance</h2>

  <div class="wrapper">
    <div class="overflow-hidden">
      <div class="track">

        {% for stat in stats %}
        <div class="track--item">
          <div class="stat">
            <span class="figure">{{ stat.figure }}</span>
            <span class="text-xl font-light mb-2xl">{{ stat.title }}</span>

            <ul class="mt-auto">
              {% for bullet in stat.bullets %}
                <li>{{ bullet }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>