{% set hasAwards = false %}
{% set hasArchive = false %}

{% for item in work %}
  {% if (item.client == title or item.long == title) 
    and item.awards %}
    {% set hasAwards = true %}
  {% endif %}
{% endfor %}

<div class="screen">
  <div class="columns">
    <div class="md:flex md:column-gap-10xl">
      <div class="flex gap-md mb-sm" data-reveal>
        <h2 class="mb-zero color-faint">Client</h2>
        {{long or title | safe}}
      </div>

      <div class="flex gap-md" data-reveal>
        <h2 class="mb-zero color-faint">Period</h2>
        {{period | safe}}
      </div>
    </div>
  </div>

  <h1 class="flex flex-wrap my-6xl" data-reveal-batch>
    {%- for char in overview.split(' ') -%}
      <span class="overflow-hidden flex">
        <i data-reveal data-stagger="15">{{ char }}</i>&nbsp;
    </span>
    {%- endfor -%}
  </h1>

  <div class="columns columns-6 --row-gap-8xl mt-auto">
    <div class="md:columns-7 lg:columns-3">
      <h2 class="color-faint" data-reveal>Type</h2>
      <p data-reveal>{{type}}</p>
    </div>

    <div class="md:columns-5 lg:columns-4">
      <h2 class="color-faint" data-reveal>Deliverables</h2>
      <ul>
        {% for item in work %}
          {% if item.client == title or item.long == title %}
            {% if not item.wayback %}
              <li data-reveal>
                <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" data-title="View Live Site">{{- item.project -}}</a>
              </li>
            {% else %}
              <li data-reveal class="color-faint">{{- item.project -}}</li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="md:columns-7 lg:columns-3">
      <h2 class="color-faint" data-reveal>Services</h2>
      <ul>
        {% for item in focus %}
          <li data-reveal>{{item | safe}}</li>
        {% endfor %}
      </ul>
    </div>

    {% if hasAwards %}
      <div class="md:columns-5 lg:columns-2">
        <h2 class="color-faint" data-reveal>Recognition</h2>
        <ul>
          {% for item in work %}
            {% if item.client == title or item.long == title %}
              {% for award in item.awards %}
                <li data-reveal>
                  <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer" data-title="{{ award.title }}">
                    {{ award.organization }}
                    {{ award.year | replace('202', "'2") | replace('201', "'1") }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>