<section id="spotlight" aria-labelledby="heading-spotlight">
  <div class="wrapper">
    <h2 id="heading-spotlight" class="sr-only">Spotlight</h2>

    {% for study in studies %}
      <div class="study js-snap">
        <div class="columns row-gap-8xl">
          <div class="columns-8 lg:columns-3">
            <h3>Project</h3>
            <p class="text-md">{{ study.description }}</p>
          </div>

          <div class="columns-6 lg:columns-2 lg:ml-2">
            <h3>Focus Areas</h3>
            <ul>
              {% for item in study.focus %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="columns-6 lg:columns-2">
            <h3>Tech Stack</h3>
            <ul>
              {% for item in study.development %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="columns-6 lg:columns-2">
            <h3>Project Type</h3>
            <p>{{ study.industry }}</p>
          </div>

          <div class="columns-12 lg:columns-5">
            {% svg study.logo %}
          </div>

          <div class="columns-12 lg:columns-7">
            {% for image in study.images %}
            {% img image %}
            {% endfor %}
          </div>
        </div>

      </div>

      {% if not loop.last %}
        <hr/>
      {% endif %}
    {% endfor %}
  </div>
</section>