{% set hasAwards = false %}
{% set hasArchive = false %}

{% for item in work %}
  {% if (item.client == title or item.long == title) 
    and item.awards %}
    {% set hasAwards = true %}
  {% endif %}
{% endfor %}

<div class="screen screen--reveal">
  <div class="columns columns-12 lg:columns-2 --row-gap-sm">
    <div class="flex justify-between gap-md md:justify-start" data-reveal>
      <h2 class="mb-zero color-faint">Client</h2>
      {{title | safe}}
    </div>

    <div class="flex justify-between gap-md md:justify-start" data-reveal>
      <h2 class="mb-zero color-faint">Years</h2>
      {{period | safe}}
    </div>

    <div class="flex justify-between gap-md md:justify-start md:hidden" data-reveal>
      <h2 class="mb-zero color-faint">Type</h2>
      <p>{{type | safe}}</p>
    </div>
  </div>

  <h1 class="flex flex-wrap mt-6xl mb-10xl" data-reveal-batch>
    {%- for char in overview.split(' ') -%}
      <span class="overflow-hidden flex">
        <i data-reveal data-stagger="15">{{ char }}</i>&nbsp;
    </span>
    {%- endfor -%}
  </h1>

  <div class="columns columns-6 --row-gap-6xl mt-auto">
    <div class="md:columns-12 md:order-first lg:columns-2 hidden md:block">
      <h2 class="color-faint" data-reveal>Type</h2>
      <p data-reveal>{{type | safe}}</p>
    </div>

    <div class="md:order-1 md:columns-3 lg:columns-2">
      <h2 class="color-faint" data-reveal>Deliverables</h2>
      <ul>
        {% for item in work %}
          {% if item.client == title or item.long == title %}
            {% if not item.wayback %}
              <li data-reveal>
                <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" data-title="View Live Site">{{- item.project -}}</a>
              </li>
            {% else %}
              <li data-reveal class="color-faint">{{- item.project -}}</li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="columns-6 md:columns-5 md:order-3 lg:columns-2 lg:ml-1">
      <h2 class="color-faint" data-reveal>Services</h2>
      <ul>
        {% for item in focus %}
          <li data-reveal>{{item | safe}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="md:columns-4 md:order-2 lg:columns-2">
      {% if hasAwards %}
        <h2 class="color-faint" data-reveal>Recognition</h2>
        <ul>
          {% for item in work %}
            {% if item.client == title or item.long == title %}
              {% for award in item.awards %}
                <li data-reveal>
                  <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer" data-title="{{ award.title }}">
                    {{ award.organization }}
                    {{ award.year | replace('202', "'2") | replace('201', "'1") }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>