{% set hasAwards = false %}
{% set hasArchive = false %}

{% for item in work %}
  {% if (item.client == client or item.long == client) and item.awards %}
    {% set hasAwards = true %}
  {% endif %}
{% endfor %}

<div class="columns md:columns-5 lg:columns-2 --row-gap-sm lg:--column-gap-10xl mb-8xl whitespace-nowrap font-black">
  <div class="md:columns-7">
    <div class="flex gap-md justify-between md:justify-start" data-reveal>
      <h2 class="mb-zero color-faint">Client</h2>
      {{long or client | safe}}
    </div>
  </div>

  <div>
    <div class="flex gap-md justify-between md:justify-start" data-reveal>
      <h2 class="mb-zero color-faint">Period</h2>
      {{period | safe}}
    </div>
  </div>
</div>

<div class="columns --row-gap-8xl mb-8xl">
  <div class="md:columns-10 lg:columns-5">
    <h2 class="color-faint" data-reveal>Overview</h2>
    <h1 class="flex flex-wrap" data-reveal-batch>
      {%- for char in overview.split(' ') -%}
        <span class="overflow-hidden flex">
          <i data-reveal data-stagger="15">{{ char }}</i>&nbsp;
        </span>
      {%- endfor -%}
    </h1>
  </div>

  <div class="md:columns-7 lg:columns-2 lg:ml-2">
    <div class="columns columns-6 lg:columns-12 --row-gap-4xl">
      <div>
        <h2 class="color-faint" data-reveal>Deliverables</h2>
        <ul>
          {% for item in work %}
            {% if item.client == client or item.long == client %}
              {% if not item.wayback %}
                <li data-reveal>
                  <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" data-title="View live website">{{- item.project -}}</a>
                </li>
              {% else %}
                <li data-reveal class="color-faint">{{- item.project -}}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% if hasAwards %}
      <div>
        <h2 class="color-faint" data-reveal>Recognition</h2>
        <ul>
          {% for item in work %}
            {% if item.client == client or item.long == client %}
              {% for award in item.awards %}
                <li data-reveal>
                  <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer" data-title="{{ award.title }}">
                    {{ award.organization }}
                    {{ award.year | replace('202', "'2") | replace('201', "'1") }}
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="md:columns-5 lg:columns-3">
    <h2 class="color-faint" data-reveal>Expertise</h2>
    <ul>
      {% for item in focus %}
        <li data-reveal>{{item | safe}}</li>
      {% endfor %}
    </ul>
  </div>
</div>