<footer class="site-footer">
  <div class="wrapper">
    <div class="columns">
      <div class="md:columns-7 hidden md:flex justify-end items-center color-faint">Inquire</div>

      <div class="columns-6 md:columns-3 flex">
        <a href="mailto:hello@codrin.eu" class="link" target="_blank" rel="noopener noreferrer">
          <span class="color-faint md:hidden">Inquire</span>
          hello@codrin.eu
        </a>
      </div>

      <div class="columns-6 md:columns-2 flex justify-between">
        <a href="https://www.linkedin.com/in/codrin-pavel/" class="link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://github.com/codrinpavel" class="link" target="_blank" rel="noopener noreferrer">GitHub</a>
      </div>
    </div>
  </div>
</footer>