<footer class="site-footer">
  <div class="wrapper">
    <div class="columns">
      <div class="columns-6 md:columns-7 flex justify-end items-center color-faint">Inquire</div>

      <div class="columns-6 md:columns-5 flex justify-between items-center">
        <a href="mailto:hello@codrin.eu" class="link" target="_blank" rel="noopener noreferrer">hello@codrin.eu</a>
        <a href="https://www.linkedin.com/in/codrin-pavel/" class="link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>