{% set nav = ["About", "Stats", "Words", "Awards", "Lab"] %}

<header class="site-header">
  <nav class="wrapper">
    <ul class="columns md:columns-2 lg:columns-1 items-start">
      <li class="site-header__item">
        <a href="/" class="site-logo">
          {% svg "logo.svg" %}
          <span class="sr-only">Codrin Pavel</span>
        </a>
      </li>

      <li class="site-header__item lg:columns-6">
        <a class="link type-headline js-project" href="#stanley-black-and-decker-2021">Gallery</a>
      </li>

      {% for item in collections.pages | order %}
      <li class="site-header__item">
        <a class="link type-headline" {% if page.url == item.url %} aria-current="page"{% endif %} href="{{item.url | url}}">{{item.data.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>