<header class="site-header type-headline">
  <nav class="wrapper">
    <ul class="columns items-end">
      <li class="md:columns-2 lg:columns-5">
        <a href="/" class="site-logo">{% svg "logo.svg" %} <span class="sr-only">Codrin Pavel</span></a>
      </li>
      <li class="md:columns-2 lg:columns-1 lg:ml-1">
        <a class="link dashlink" style="--delay:2400ms" href="#at-a-glance">At a Glance</a>
      </li>
      <li class="md:columns-2 lg:columns-1">
        <a class="link dashlink" style="--delay:2500ms" href="#spotlight">Spotlight</a>
      </li>
      <li class="md:columns-2 lg:columns-1">
        <a class="link dashlink" style="--delay:2600ms" href="#work">Selected Work</a>
      </li>
      <li class="md:columns-2 lg:columns-1">
        <a class="link dashlink" style="--delay:2700ms" href="#recognition">Recognition</a>
      </li>
      <li class="md:columns-2 lg:columns-1 ml-auto flex justify-end">
        <a class="link dashlink" style="--delay:2800ms" href="#out-of-scope">Out of Scope</a>
      </li>

{#
      <nav class="md:columns-8 lg:columns-7 type-headline">
        <ul class="columns md:columns-3">
          <li><a class="link dashlink" style="--delay:2400ms" href="#at-a-glance">At a Glance</a></li>
          <li><a class="link dashlink" style="--delay:2500ms" href="#spotlight">Selected Work</a></li>
          <li><a class="link dashlink" style="--delay:2600ms" href="#recognition">Recognition</a></li>
          <li class="lg:ml-auto flex justify-end"><a class="link dashlink" style="--delay:2700ms" href="#out-of-scope">Out of Scope</a></li>
        </ul>
      </nav>#}
    </ul>
  </nav>
</header>