<header>
  <div class="wrapper">
    <div class="columns columns-3 justify-between">
      <div>
        <a href="/" class="mynameis" title="Codrin Pavel">&mdash;c.</a>
      </div>

      <nav class="ml-auto">
        <ol>
          <li><a href="#industries">Industries</a></li>
          <li><a href="#recommendations">Recommendations</a></li>
          <li><a href="#work">Work</a></li>
        </ol>
        <a href="#top" class="is-active">back to top</a>
      </nav>

      <div class="flex gap-xl items-start justify-between">
        <a href="mailto:hello@codrin.eu" target="_blank" rel="noopener noreferrer">hello@codrin.eu</a>
        <a href="https://www.linkedin.com/in/codrin-pavel/" target="_blank" rel="noopener noreferrer">linkedin</a>
      </div>
    </div>
  </div>
</header>