<section class="hero" id="top" aria-labelledby="heading-hero">
  <div class="wrapper">
    <h1 id="heading-hero" class="sr-only">About me</h1>

    <div class="columns md:columns-8 lg:columns-6">
      <div class="pt-9xl ml-auto">
        <p class="animate-wave" data-delay="2800">design-driven frontend developer focused on accessibility and optimization, creating award-winning experiences that are beautifully performant.</p>
      </div>
    </div>
  </div>
</section>