<section class="hero" id="top" aria-labelledby="heading-hero">
  <div class="wrapper">
    <h1 id="heading-hero" class="sr-only">About me</h1>

    <div class="columns columns-10 md:columns-8 lg:columns-5">
      <div class="pt-4xl">
        <p>independent, design-driven frontend developer with 15+ years of experience, working remotely from an island in Spain. I build award-winning design systems and digital experiences for Fortune 500 companies, universities, nonprofits, and global brands.</p>
        <p>Over the years, I’ve led engineering teams, mentored developers, and worked closely with creatives, product teams, and clients to deliver sophisticated digital experiences at scale.</p>
        <p>My work sits at the intersection of ux, design systems, accessibility, and performance.</p>
      </div>
    </div>
  </div>
</section>