<section class="hero" id="top" aria-labelledby="heading-hero">
  <div class="wrapper">
    <h1 id="heading-hero" class="sr-only">About</h1>

    <div class="columns md:columns-8 lg:columns-7 justify-end">
      <div class="hero__track--intro heading">
        <p class="animate-wave" data-delay="2800">Design-driven frontend developer focused on accessibility and optimization, creating award-winning experiences that are beautifully performant.</p>
      </div>
    </div>
  </div>
</section>