<section data-view="project" class="projects">
  <div class="wrapper">
    <div class="wrapper__container">
      <ul class="columns type-headline">
        <li class="lg:columns-2 flex flex-col">
          <div class="my-auto"><a class="link" href="" data-slot="prev">← Prev</a></div>
        </li>
        <li class="lg:columns-4">
          <figure data-slot="picture"></figure>
        </li>
        <li class="lg:columns-2 lg:ml-1 flex flex-col">
          <div class="my-auto">Client: <span class="color-black-text" data-slot="client"></span></div>
          <div><span data-slot="year" class="color-black-text"></span></div>
        </li>
        <li class="lg:columns-2 flex flex-col">
          <div class="my-auto">Project: <span class="color-black-text" data-slot="title">2023 SCR Report</span></div>
        </li>
        <li class="lg:columns-1 text-right color-black-text flex flex-col">
          <div class="my-auto"><a class="link" href="" data-slot="next">Next →</a></div>
          <div><a class="link" target="_blank" rel="noopener noreferrer" href="" data-slot="url">Visit →</a></div>
        </li>
      </ul>
    </div>
  </div>
</section>