<section data-view="project" class="project">
  <div class="wrapper">
    <div class="wrapper__container">
      <div class="columns type-headline">
        <div class="lg:columns-1 flex flex-col justify-center items-start">
          <a class="link js-project" href="" data-href="prev">Prev</a>
        </div>

        <div class="lg:columns-1 flex flex-col justify-center">
          <div>Year: <span class="color-black-text" data-text="year"></span></div>
        </div>

        <div class="lg:columns-4 flex flex-col justify-center">
          <a target="_blank" rel="noopener noreferrer" href="" data-href="url">
            <figure data-html="picture"></figure>
          </a>
        </div>

        <div class="lg:columns-2 lg:ml-1 flex flex-col justify-center">
          <div>Client: 
              <span class="color-black-text" data-text="client"></span>
            </a>
          </div>
        </div>

        <div class="lg:columns-2 flex flex-col justify-center items-start">
          <div>Project: 
            <a class="link color-black-text" target="_blank" rel="noopener noreferrer" href="" data-href="url" data-text="title"></a>
          </div>
        </div>

        <div class="lg:columns-1 flex flex-col justify-center items-end">
          <a class="link js-project" href="" data-href="next">Next</a>
        </div>
      </ul>
    </div>
  </div>
</section>