<section class="projects" id="out-of-scope">
  <div class="wrapper">
    <div class="wrapper__container">
      <ul class="columns items-center type-headline">
        <li class="lg:columns-1"><span class="color-black-text">2019</span></li>
        <li class="lg:columns-4">
          <div>
            {% img "work/5-napkin-burger-beer-and-bourbon-blog-2010.png" %}
          </div>
        </li>

        <li class="lg:columns-2 lg:ml-1">Client: <span class="color-black-text">Dominion Energy</span></li>
        <li class="lg:columns-3">Project: <span class="color-black-text">2023 SCR Report</span></li>
        <li class="lg:columns-1 text-right color-black-text">Visit →</li>
      </ul>
    </div>
  </div>
</section>