<section data-view="project" class="projects">
  <div class="wrapper">
    <div class="wrapper__container">
      <ul class="columns items-center type-headline">
        <li class="lg:columns-2"><span data-slot="year" class="color-black-text"></span></li>
        <li class="lg:columns-4">
          <figure data-slot="picture"></figure>
        </li>
        <li class="lg:columns-2 lg:ml-1">Client: <span class="color-black-text" data-slot="client"></span></li>
        <li class="lg:columns-2">Project: <span class="color-black-text" data-slot="title">2023 SCR Report</span></li>
        <li class="lg:columns-1 text-right color-black-text">
          <a class="link" target="_blank" rel="noopener noreferrer" href="" data-slot="url">Website →</a>
        </li>
      </ul>
    </div>
  </div>
</section>