<section class="awards" id="awards">
  <div class="wrapper">
    <div class="columns">
      <div class="columns-12">
        <ul>
          {% set index = 0 %}
          {% for group in awards %}
            <li class="columns award">
              <div class="columns-4 md:columns-4 lg:columns-2 md:ml-2 lg:ml-1">
                <h3>{{ group.organization }} &times;{{group.awards.length}}</h3>
              </div>

              <ul class="columns-8 md:columns-6 lg:columns-7">
                {% for award in group.awards %}
                  {% set index = index + 1 %}

                  <li style="--index: {{index}}">
                    <a class="link" href="{{ award.url }}" target="_blank" rel="noopener noreferrer">
                      {{ award.title }}
                      {{ award.year }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>