{% set index = 0 %}

<section class="recognition" id="recognition" aria-labelledby="heading-recognition">
  <div class="wrapper">
    <div class="columns justify-between">
      <div class="columns-11 md:columns-4 lg:columns-3 mb-4xl">
        <div class="sticky top-header-offset use-inview">
          <h2 id="heading-recognition" style="--index: 1;">Awards & Recognition</h2>
          <p style="--index: 2;">Selected by international juries for excellence in digital design, sustainability communication, and interactive storytelling.</p>
        </div>
      </div>

      <div class="md:columns-7">
        <ul>
          {% for group in awards %}
            <li class="columns award">
              <h3 class="columns-4 md:columns-2">{{ group.organization }} &times;{{group.awards.length}}</h3>

              <ul class="columns-6 md:columns-8">
                {% for award in group.awards %}
                  {% set index = index + 1 %}

                  <li style="--index: {{index}}">
                    <a class="type-headline link" href="{{ award.url }}" target="_blank" rel="noopener noreferrer">
                      {{ award.title }} {{ award.year }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>