<section id="recommendations" aria-labelledby="heading-recommendations">
  <div class="wrapper">
    <h2 id="heading-recommendations" class="sr-only">Recommendations</h2>
    <div class="recommendations">
      <ul>
        {% for item in quotes %}
          <li>
            <figure class="quote">
              <blockquote>
                <p>{{ item.content | safe }}</p>
              </blockquote>

              <figcaption>
                <cite>{{ item.name }}</cite>
                <span>{{ item.title }} at {{ item.company }}</span>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>