<section id="spotlight" class="spotlight" aria-labelledby="heading-spotlight">
  <h2 id="heading-spotlight" class="sr-only">Spotlight</h2>

  <div class="wrapper">
    <div class="columns row-gap-5xl mb-5xl">
      <div class="columns-11 lg:ml-1">
        {% svg spotlight.logo %}
      </div>

      <div class="columns-11 md:columns-4 lg:columns-3 lg:ml-1 use-inview" style="--index:1">
        <h2>Spotlight on:<br> FNIH Annual Reports, 2019&mdash;2022</h2>
        <p>{{ spotlight.description }}</p>
      </div>

      <div class="columns-4 md:columns-2 lg:columns-1 md:ml-2 use-inview" style="--index:3">
        <h2>Technologies</h2>
        <ul>
          {% for item in spotlight.development %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="columns-8 md:columns-3 lg:ml-1 use-inview" style="--index:4">
        <h2>Focus Areas</h2>
        <ul>
          {% for item in spotlight.focus %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="spotlight__video">
    <div class="wrapper">
      <figure>
        <video id="spotlight-video" width="1440" height="900" src="{{ '/assets/video/fnih.mp4' | url }}" muted playsinline loop></video>
        <button type="button" class="video-btn" aria-label="Play video" aria-controls="spotlight-video" id="spotlight-video-toggle">
          {% svg "play-button.svg" %}
        </button>
        <figcaption class="sr-only">Animated homepage designs from the Foundation for the National Institutes of Health (FNIH) annual reports, featuring the 2018, 2019, and 2020 editions.</figcaption>
      </figure>
    </div>
  </div>
</section>