<section id="spotlight" class="spotlight" aria-labelledby="heading-spotlight">
  <h2 id="heading-spotlight" class="sr-only">Spotlight</h2>

  <div class="wrapper">
    <div class="columns columns-8 row-gap-4xl justify-between">
      <div class="md:columns-4 lg:columns-3">
        <h2>2019&mdash;2022 Annual Reports</h2>
        <p class="mb-2xl">{{ spotlight.description }}</p>
      </div>
      <div class="md:columns-7">
        <div class="columns columns-4 lg:columns-2">
          <div>
            <h3>Industries</h3>
            <ul>
            {% for item in spotlight.industries %}
              <li>{{ item }}</li>
            {% endfor %}
            </ul>
          </div>
          <div>
            <h3>Technologies</h3>
            <ul>
              {% for item in spotlight.development %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="lg:columns-4">
            <h3>Focus Areas</h3>
            <ul>
              {% for item in spotlight.focus %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% svg spotlight.logo %}
  </div>

  <div class="spotlight__video">
    <div class="wrapper">
      <figure>
        <video id="spotlight-video" width="1440" height="900" src="{{ '/assets/video/fnih.mp4' | url }}" muted playsinline loop></video>
        <button type="button" class="video-btn" aria-label="Play video" aria-controls="spotlight-video" id="spotlight-video-toggle">
          {% svg "play-button.svg" %}
        </button>
        <figcaption class="sr-only">Animated homepage designs from the Foundation for the National Institutes of Health (FNIH) annual reports, featuring the 2018, 2019, and 2020 editions.</figcaption>
      </figure>
    </div>
  </div>
</section>