<section class="stats" id="stats">
  <div class="wrapper scroller">
    <div class="scroller__container">
      <div class="scroller__track" style="--count: {{stats.length}}">

        {% for stat in stats %}
          <div class="scroller__item">
            <div class="stat">
              <span class="figure use-inview">
                {%- for char in stat.figure.split('') -%}
                  <i class="type-huge" style="--index:{{loop.index}}">{{- char -}}</i>
                {%- endfor -%}
              </span>

              <span class="type-medium">{{ stat.title }}</span>

              <ul class="mt-auto">
                {%- for bullet in stat.bullets -%}
                  <li>{{- bullet -}}</li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>