<section class="words" id="words">
  <div class="wrapper scroller">
    <div class="scroller__container">
      <div class="scroller__track" style="--count: {{words.length}}">

        {% for item in words %}
          <div class="scroller__item flex flex-col justify-end">
            <figure class="quote">
              <blockquote>
                <p class="type-large">{{ item.content | safe }}</p>
              </blockquote>

              <figcaption>
                <cite class="type-headline color-black-text">{{ item.name }}</cite>
                <span>{{ item.title }}, {{ item.company }}</span>
              </figcaption>
            </figure>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>