{% set sortedWork = work | sortByYear %}
{% set midpoint = (sortedWork.length / 2) | round(0, 'ceil') %}

<section class="work pt-header-offset" id="work" aria-labelledby="heading-work">
  <div class="wrapper">
    <div class="columns">
      <div class="columns-11 md:ml-2 lg:ml-1">
        <h2>Selected Work, 2009&mdash;2026</h2>
      </div>

      <ul class="columns-6 md:columns-3 lg:columns-3 md:ml-2 lg:ml-1 type-headline ">
        {%- for item in sortedWork -%}
          {% if loop.index0 < midpoint %}
            <li data-id="work-{{loop.index}}" {% if item.nothumb %}class="is-disabled"{% endif %}>
              {{- item.client -}}<span>&mdash; {{- item.project | safe -}}, {{ item.year }}</span>
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>

      <ul class="columns-6 md:columns-3 lg:columns-3 md:ml-1 lg:ml-0 type-headline ">
        {%- for item in sortedWork -%}
          {% if loop.index0 >= midpoint %}
            <li data-id="work-{{loop.index}}" {% if item.nothumb %}class="is-disabled"{% endif %}>
              {{- item.client -}}<span>&mdash; {{- item.project | safe -}}, {{ item.year }}</span>
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>
<!--
<section class="work pb-10xl pt-header-offset" id="work" aria-labelledby="heading-work">
  <div class="wrapper">
    <div class="columns">
      <div class="md:columns-4 lg:columns-3 w__header">
        <div class="sticky top-header-offset">
          <h2 id="heading-work">Work<sup>{{work.length}}</sup></h2>
          <p>Delivered for nonprofits, foundations, media organizations, and Fortune 500 companies since 2009.</p>
        </div>
        <div class="w__meta">
          {%- for item in work | sortByYear -%}
            <div data-id="work-{{loop.index}}">
              <h3 class="mb-zero">{{ item.long or item.client | safe }} &mdash; {{ item.project | safe }}</h3>
            </div>
          {%- endfor -%}
        </div>
      </div>

      <div class="md:columns-4 lg:columns-3 lg:ml-2">
        <ul class="flex flex-col">
          {%- for item in work | sortByYear -%}
            <li data-id="work-{{loop.index}}" {% if item.nothumb %}class="is-disabled"{% endif %}>{{- item.client -}}</li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="md:columns-4 lg:columns-4">
        <div class="w__image">
        {%- for item in work | sortByYear -%}
          {% if not item.nothumb %}
            {% set image_url = 'work/' ~ item.client | lower | replace(' ', '-') | replace('|', '') ~ '-' ~ item.project | lower | replace(' ', '-') ~ '-' ~ item.year ~ '.png' %}

            <figure data-id="work-{{loop.index}}">
              {% img image_url %}

              <figcaption>
                <span>{{ item.year }}</span>

                {%- if not item.inactive -%}
                  {% set link = item.wayback and ("https://web.archive.org/web/" ~ item.wayback ~ "if_/" ~ item.url) or item.url %}
                  <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                    {{ item.wayback and "Archived Version" or "Live Website" }} →
                  </a>
                {%- endif -%}
              </figcaption>
            </figure>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>
-->