@use "../tokens" as *;
@use 'sass:map';

/*
 * Media query shorthand
 * Defaults to min-width
 *
 * Usage: @include mq(lg) { ... }
 */

@function breakpoint-min($name) {
  @return max(0, map.get(tokens("breakpoints"), $name));
}

@mixin mq($name, $type: min) {
  $min: breakpoint-min($name);

  @if ($min > 0) {
    @if ($type == max) {
      $min: $min - 1px;
    }

    @media ( #{$type}-width: $min ) {
      @content;
    }
  } @else {
    @content;
  }
}


/*
 * Container query shorthand
 * Defaults to min-width
 *
 * Usage: @include cq(lg) { ... }
 */

@mixin cq($name) {
  $min: map.get(tokens("breakpoints"), $name);

  @if ($min > 0) {
    @container (min-width: #{$min} ) {
      @content;
    }
  }

  @else {
    @content;
  }
}