---
layout: base.njk
bodyClass: "awards"
title: "Awards"
order: 4
---

<section class="awards" id="awards">
  <div class="wrapper scroller">
    <div class="scroller__container">
      <div class="scroller__track" style="--count: {{awards.length}}">

        {% for group in awards %}
          <div class="scroller__item">
            <div class="stat">
              <h2 class="type-large">{{group.organization}}</h2>

              <ul>
                {%- for award in group.awards -%}
                  <li>
                    <a href="{{ award.url }}" target="_blank" rel="noopener noreferrer" data-title="{{ award.year }}&mdash;{{ award.title }}">
                      {{ award.year }}&mdash;{{ award.client }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>