---
layout: base.njk
htmlClass: "awards has-scroller"
title: "Case Study"
override:tags: []
---

<section class="study" id="study">
  <div class="wrapper">
    <div class="columns">
      <div class="md:columns-6 lg:columns-5">
        <h2>Overview</h2>
        <h1>Frontend development for a series of award-winning Annual Reports for the Foundation for the National Institutes of Health (FNIH). Built responsive, high-performance experiences that met WCAG accessibility standards and are optimized for reliability, usability, and Core Web Vitals.</h1>
      </div>

      <div class="md:columns-3 md:ml-1 lg:ml-2">
        <div class="flex gap-md">
          <h2>Client</h2>
          FNIH
        </div>

        <h2 class="mt-10xl">Focus Areas</h2>
        <ul>
          <li>Accessibility / WCAG Compliance</li>
          <li>Performance Optimization</li>
          <li>Core Web Vitals</li>
          <li>Responsive Design</li>
          <li>Custom Animations</li>
        </ul>
      </div>

      <div class="md:columns-2 flex gap-md">
        <h2>Period</h2>
        2019&mdash;2022
      </div>

      <div class="md:columns-3 mt-10xl">
        <h2>View Projects</h2>
        <ul>
          <li>FNIH 2021 Annual Report</li>
          <li>FNIH 2020 Annual Report</li>
          <li>FNIH 2019 Annual Report</li>
          <li>FNIH 2018 Annual Report</li>
        </ul>
      </div>
    </div>

    <div class="columns columns-6 mt-10xl">
      <div class="columns-12" style="background:#12355F">
        <video width="1440" height="900" data-src="{{ '/assets/video/studies/fnih/fnih-2018-short.mp4' | url }}" muted playsinline loop></video>
      </div>
      <div>
        <video width="1440" height="900" data-src="{{ '/assets/video/studies/fnih/button.mp4' | url }}" muted playsinline loop></video>
      </div>
      <div>
        {% img "studies/fnih/home-2021.jpg" %}
      </div>

      <div class="columns-12" style="background:#000">
        <video width="1440" height="900" data-src="{{ '/assets/video/studies/fnih/fnih-2020.mp4' | url }}" muted playsinline loop></video>
      </div>

      <div>
        {% img "studies/fnih/menu_2.jpg" %}
      </div>
      <div>
        {% img "studies/fnih/impact.jpg" %}
      </div>
      <div class="columns-12" style="background:#000">
        <video width="1440" height="900" data-src="{{ '/assets/video/studies/fnih/fnih-2019.mp4' | url }}" muted playsinline loop></video>
      </div>
    </div>
  </div>
</section>