---
layout: base.njk
htmlClass: "work"
title: "Work"
order: 2
---

<section class="work" id="work">
  <div class="wrapper">
    <div class="columns md:columns-6 lg:columns-4">

      {% for page in collections.work | order %}
      <div data-reveal data-stagger="150" class="card">
        {%- set image_url = "case-studies/" ~ page.data.client | slugify ~ "/cover.png" -%}

        <div class="card__index">{{ loop.index < 10 and '0' + loop.index or loop.index }}.</div>

        <a href="{{ page.url | url }}">
          <h2>{{page.data.long or page.data.client}}</h2>
          <figure>
            {% img image_url, "" %}
          </figure>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>