---
eleventyExcludeFromCollections: true
pagination:
  data: featured
  size: 1
  alias: featured
permalink: "gallery/{{ featured.client | slugify }}-{{featured.year}}/"
---

{%- set project_url = featured.wayback and ("https://web.archive.org/web/" ~ featured.wayback ~ "if_/" ~ featured.url) or featured.url -%}
{%- set image_url = 'work/' ~ featured.client | slugify ~ '-' ~ featured.project | slugify ~ '-' ~ featured.year ~ '.png' -%}
{%- set prevHref = pagination.previousPageHref or pagination.lastPageHref -%}
{%- set nextHref = pagination.nextPageHref or pagination.firstPageHref -%}

<section class="project">
  <div class="wrapper">
    <div class="wrapper__container">
      <div class="columns lg:columns-1 items-center type-headline">
        <div>
          <a class="link js-project" href="{{prevHref}}" data-transition="backwards">Prev</a>
        </div>

        <div>
          <div class="color-black-text project-year line">{{featured.year}}</div>
        </div>

        <div class="lg:columns-4">
          <a target="_blank" rel="noopener noreferrer" href="{{project_url}}">
            <figure>{% img image_url, "", "", "eager" %}</figure>
          </a>
        </div>

        <div class="lg:columns-2 lg:ml-1">
          <div class="line-1">
            Client: 
            <span class="color-black-text">{{featured.client}}</span>
          </div>
        </div>

        <div class="lg:columns-2">
          <div class="line-2">
            Project: 
            <a class="link color-black-text" target="_blank" rel="noopener noreferrer" href="{{project_url}}">{{featured.project}}</a>
          </div>
        </div>

        <div class="flex justify-end">
          <a class="link js-project" href="{{nextHref}}" data-transition="forwards">Next</a>
        </div>
      </div>
    </div>
  </div>
</section>