---
eleventyExcludeFromCollections: true
htmlClass: "project"

pagination:
  data: featured
  size: 1
  alias: featured

permalink: "selected/{{ featured.client | slugify }}-{{featured.year}}/"

eleventyComputed:
  preload: work/{{featured.client | slugify}}-{{featured.project | slugify}}-{{featured.year}}.png
---

{%- set project_url = featured.wayback and ("https://web.archive.org/web/" ~ featured.wayback ~ "if_/" ~ featured.url) or featured.url -%}
{%- set image_url = 'work/' ~ featured.client | slugify ~ '-' ~ featured.project | slugify ~ '-' ~ featured.year ~ '.png' -%}

<section class="project">
  <div class="wrapper">
    <div class="columns lg:columns-1 items-center type-headline">
      <div class="project__prev">
        <a class="link js-project" href="{{pagination.href.previous or pagination.href.last}}" data-transition="backwards">Prev</a>
      </div>

      <div class="project__year">
        <div class="line">
          <div class="vt-line-year color-black-text mx-auto">{{featured.year}}</div>
        </div>
      </div>

      <div class="lg:columns-4">
        <a target="_blank" rel="noopener noreferrer" href="{{project_url}}" aria-label="view live project">
          <figure>
            {% img image_url,
            "",
            "",
            "eager" %}
          </figure>
        </a>
      </div>

      <div class="lg:columns-2 lg:ml-1 project__client">
        <div class="line">
            Client 
            <span class="vt-line-client color-black-text">{{featured.client}}</span>
        </div>
      </div>

      <div class="lg:columns-2 project__name">
        <div class="line">
            Project 
            <a class="vt-line-project link color-black-text" target="_blank" rel="noopener noreferrer" href="{{project_url}}">{{featured.project}}</a>
        </div>
      </div>

      <div class="flex justify-end project__next">
        <a class="link js-project" href="{{pagination.href.next or pagination.href.first}}" data-transition="forwards">Next</a>
      </div>
    </div>
  </div>
</section>