---
layout: base.njk
htmlClass: "selected"
title: "Selected"
order: 1
override:tags: ["nav"]
---


<section class="selected" id="selected">
  <div class="wrapper">
    {% for item in featured %}
      {%- set project_url = item.wayback and ("https://web.archive.org/web/" ~ item.wayback ~ "if_/" ~ item.url) or item.url -%}
      {%- set image_url = 'work/' ~ item.client | slugify ~ '-' ~ item.project | slugify ~ '-' ~ item.year ~ '.png' -%}
      {#{item.url}#}

      <figure class="select">
        <div class="select__img">
          {% img image_url, "" %}
          {% img image_url, "" %}
        </div>
        <figcaption class="type-headline">
          <div>
            <span>Client</span>
            <span class="color-black-text">{{item.client}}</span>
          </div>
          <div>
            <span>Project</span>
            <span class="color-black-text">{{item.project}}</span>
          </div>
        </figcaption>
      </figure>
    {% endfor %}
  </div>
</section>