---
layout: base.njk
htmlClass: "showcase"
title: "Showcase"
order: 2
---

<section class="showcase" id="showcase">
  <div class="wrapper">
    <div class="columns md:columns-6 lg:columns-4">
      {% for item in projects %}
      <div class="card">
        {%- set image_url = 'work/' ~ item.client | slugify ~ '-' ~ item.project | slugify ~ '-' ~ item.year ~ '.png' -%}
        {%- set permalink = "/showcase/" ~ item.client | slugify ~ "-" ~ item.year ~ "/" -%}

        <div class="card__index">{{ loop.index < 10 and '0' + loop.index or loop.index }}.</div>

        <a href="{{ permalink | url }}">
          <h2>{{item.long or item.client}}</h2>
          {% img image_url, "" %}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>