---
layout: base.njk
htmlClass: "showcase"
title: "Showcase"
order: 2
---

<section class="showcase" id="showcase">
  <div class="wrapper">
    <div class="columns md:columns-6 lg:columns-4">

      {% for page in collections.showcase | order %}
      <div data-reveal data-stagger="150" class="card">
        {%- set image_url = "showcase/" ~ page.data.client | slugify ~ ".png" -%}

        <div class="card__index">{{ loop.index < 10 and '0' + loop.index or loop.index }}.</div>

        <a href="{{ page.url | url }}">
          <h2>{{page.data.long or page.data.client}}</h2>
          {% img image_url, "" %}
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>