---
layout: base.njk
isHorizontal: true
title: "Stats"
order: 3
---

<section class="stats fullscreen">
  <div class="wrapper scroller" style="--count: {{stats.length + 1}}">
    <div class="scroller__track">

      {% for stat in stats %}
        <div class="scroller__item" data-inview>
          <div class="scroller__counter" style="z-index:{{loop.index}}">0{{loop.index}}.</div>

          <div class="stat">
            <span class="figure type-huge mb-xl">
              {%- for char in stat.figure.split('') -%}
                <i data-reveal data-stagger="100">{{- char -}}</i>
              {%- endfor -%}
            </span>

            <span data-reveal class="type-medium mb-2xl">{{ stat.title }}</span>

            <ul>
              {%- for bullet in stat.bullets -%}
                <li data-reveal><span>{{- bullet -}}</span></li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>