---
layout: base.njk
bodyClass: "words has-scroller"
title: "Words"
order: 4
---

<section class="words" id="words">
  <div class="wrapper scroller" style="--count: {{words.length}}">
    <div class="scroller__track">

    {% for item in words %}
      <div class="scroller__item">
        <figure class="quote">
          <blockquote>
            <p class="type-large">{{ item.content | safe }}</p>
          </blockquote>

          <figcaption>
            <cite class="type-headline color-black-text">{{ item.name }}</cite>
            <span>{{ item.title }}, {{ item.company }}</span>
          </figcaption>
        </figure>
      </div>
    {% endfor %}

    </div>
  </div>
</section>