---
layout: base.njk
isHorizontal: true
title: "Words"
order: 5
---

<section class="words fullscreen">
  <div class="wrapper scroller" style="--count: {{words.length}}">
    <div class="scroller__track">

      {% for item in words %}
        <div class="scroller__item" data-inview data-counter="0{{loop.index}}.">
          <div class="scroller__counter" style="z-index:{{loop.index}}">0{{loop.index}}.</div>

          <figure class="quote">
            <blockquote>
              <p class="type-medium" data-reveal data-stagger="200">
                {{item.content | safe}}
              </p>
            </blockquote>

            <figcaption data-reveal>
              <cite class="type-eyebrow">{{ item.name }}</cite>
              <span>{{ item.title }}, {{ item.company }}</span>
            </figcaption>
          </figure>
        </div>
      {% endfor %}

    </div>
  </div>
</section>