---
layout: base.njk
title: "Work"
order: 2
---

<section class="work">
  <div class="wrapper">
    <div class="columns md:columns-6 lg:columns-4">

      {% for page in collections.work | order %}
        <a href="{{ page.url | url }}" class="card">
          {%- set image_url = "case-studies/" ~ page.data.title | slugify ~ "/cover.png" -%}

          <div class="card__index">{{ loop.index < 10 and '0' + loop.index or loop.index }}.</div>
          <h2>{{page.data.long or page.data.title}}</h2>

          <figure data-reveal data-stagger="150">
            {% img image_url, "" %}
          </figure>
        </a>
    {% endfor %}

  </div>
</section>