.animate-wave {
  display: flex;
  flex-wrap: wrap;
}

.wave-word {
  --wave-duration: 1s;
  --wave-distance: .8em;
  --word-delay: 700ms;

  display: block;
  opacity: 0;
  transform: translateY(var(--wave-distance, 16px));

  animation: var(--wave-duration) waveFadeUp ease forwards;
  animation-delay: var(--word-delay);
  will-change: transform;
}

@keyframes waveFadeUp {
  30% { opacity: 0 }
  to { opacity: 1; transform: translateY(0);}
}