.animation-wave {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  i {
    font-style: normal;
    display: block;
    will-change: transform;
    opacity: 0;
    transform: translateY(.5em);
    transition: transform 700ms ease, opacity 1000ms ease;
    transition-delay: calc(var(--index, 0) * 25ms);
  }

  &.is-inview i {
    transform: translateY(0px);
    opacity: 1;
  }
}
