.animate-wave {
  display: flex;
  flex-wrap: wrap;
}

.wave-word {
  --wave-distance: 1.3em;
  --word-delay: 700ms;

  display: block;
  transform: translateY(var(--wave-distance, 16px)) rotate(2deg);

  animation: var(--wave-duration, 600ms) waveFadeUp ease forwards;
  animation-delay: var(--word-delay);
  will-change: transform;
}

@keyframes waveFadeUp {
  to { transform: translateY(0) rotate(0deg) }
}