.animation-wave {
    display: flex;
    overflow: hidden;

  i {
    font-style: normal;
    display: block;
    will-change: transform;
    opacity: 0;
    transform: translateY(.8em);
    transition: transform 750ms ease, opacity 750ms ease;
    transition-delay: calc(var(--index, 0) * 45ms);
  }

  &.is-inview i {
    transform: translateY(0px);
    opacity: 1;
  }
}