@use "../mixins" as *;

.card {
  position: relative;
  background: var(--color-gray-light);
  clip-path: inset(0);
  font-variation-settings: var(--font-weight-black);

  a {
    display: block;
    position: relative;
    z-index: 2;

    @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus-visible {
        img {
          object-fit: cover;
          object-position: bottom center;
          filter: none;
          height: 50svh;
          transition: object-position ease 8s;
          transition-delay: 333ms;
        }
      }
    }
  }

  figure {
    height: 75svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  img {
    height: 40svh;
    width: 100%;
    object-position: top center;
    object-fit: contain;
    filter: grayscale(.96) contrast(1.4) brightness(1.05);
    clip-path: inset(1px 0px);
  }

  &__index {
    //position: sticky;
    position: fixed;
    top: 50svh;
    //line-height: 0;
    //transform: translateY(.5em);
    transform: translateY(-100%);
    z-index: -1;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-variation-settings: var(--font-weight-black);
    background-color: var(--color-gray-light);
  }

  &.card--logo {
    a {
      aspect-ratio: 4/3;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus-visible {
        svg {
          filter: grayscale(0);
          transition: filter 333ms;
        }
      }
    }

    svg {
      display: block;
      width: 50%;
      max-width: 200px;
      height: auto;
      aspect-ratio: 1;
      filter: grayscale(.96);
    }
  }
}
