:root {
  --preloader-duration: 1800ms;
  --logo-wait: calc(var(--preloader-duration) + 250ms);
  --logo-duration: 500ms;
}

.site-logo {
  svg {
    overflow: visible;
  }

  path {
    transform-box: fill-box;
    will-change: transform;
  }

  .dash {
    transform: scaleX(0);
    transform-origin: left center;
    animation: var(--logo-duration) logo_dash ease var(--logo-wait) forwards;
  }

  .c {
    transform: translateX(-50px);
    transform-origin: left center;
    animation: var(--logo-duration) logo_move ease var(--logo-wait) forwards;
  }

  .dot {
    --size: 10px;
    --scale: calc(350vmax / var(--size));

    transform: scale(var(--scale));
    transform-origin: center center;
    animation: calc(var(--logo-wait) + var(--logo-duration)) logo_dot ease forwards;
  }
}

main {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: 99;
    inset: 0;
    background: var(--color-white);
    will-change: clip-path;
    transform: translateX(0%);
    animation: 1.4s overlay var(--logo-wait) ease-out forwards;
  }
}

@keyframes overlay {
  100% { transform: translateX(101%) }
}

@keyframes logo_dash {
  100% { transform: scaleX(1) }
}

@keyframes logo_move {
  100% { transform: translateX(0) }
}

@keyframes logo_dot {
  100% { transform: translateX(-50px) scale(1) }
}


@keyframes logo_dot {
  70.588% {
    transform: translateX(-50px) scale(1);
  }

  80.392% {
    transform: translateX(-50px) scale(1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}