.link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 0 1px;
  transition: background-size .3s, color .3s;

  &:hover,
  &:focus-visible {
    background-position: 0 100%;
    background-size: 100% 1px;
    color: var(--color-black-text);
  }
}

a[data-title] {
  display: block;
  position: relative;
  overflow: hidden;

  &::before {
    content: attr(data-title)" →";
    background-color: var(--color-white);
    position: absolute;
    inset: 0;
    transition: translate 120ms ease;
    translate: 0 105%;
  }

  &:hover,
  &:focus-visible {
    &::before {
      translate: 0%;
    }
  }
}