.quote {
  header {
    margin-bottom: var(--size-lg);
  }

  blockquote {
    border-top: 1px solid var(--color-border);
    padding-top: var(--size-4xl);
    padding-bottom: var(--size-2xl);
  }

  p {
    max-width: 26em;

    &::before,
    &::after {
      content: "”";
    }
  }

  figcaption {
    span {
      display: block;
      margin-top: var(--size-3xs);
      padding-left: 1em;
    }
  }

  cite {
    &::before {
      content: '—';
    }

    &::after {
      content: ',';
    }
  }
}
