.quote {
  border-top: 1px solid currentColor;
  font-weight: 300;
  font-size: var(--font-size-ml);

  p {
    max-width: 26em;
    margin-block: var(--size-4xl);
    font-weight: 300;

    &::before {
      content: "„";
    }

    &::after {
      content: "”";
    }
  }

  cite {
    font-style: normal;
    font-weight: 500;

    &::before {
      content: '—';
    }

    &::after {
      content: ',';
    }
  }

  span {
    display: block;
    margin-top: 2px;
  }
}