@use "../mixins" as *;

.scroller {
  --item-width: 100%;
  --count: 5;
  overflow: auto;
  height: 100%;

  &__track {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    margin-left: calc(var(--column-gap) * -1);
  }

  &__item {
    height: 100%;
    flex: 0 0 calc(var(--item-width) - var(--column-gap));
    border-top: 1px solid var(--color-border);
    padding-top: var(--size-4xl);
    margin-left: var(--column-gap);
  }

  @include mq(md) {
    --item-width: 50%;
  }
}