@use "../mixins" as *;

.scroller {
  --item-width: 100%;
  --count: 5;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;

  &__track {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    margin-left: calc(var(--column-gap) * -1);
  }

  &__item {
    position: relative;
    height: 100%;
    flex: 0 0 calc(var(--item-width) - var(--column-gap));
    padding-top: calc(2em + var(--size-4xl));
    margin-left: var(--column-gap);
    clip-path: inset(0);
    overflow: hidden;

    &::after {
      content:'';
      width: 100%;
      border-top: 1px solid var(--color-border);
      position: absolute;
      inset: 2em 0 auto;
      transform: scaleX(0%);
      transform-origin: center left;
    }

    &.is-inview::after {
      animation: scrollerBar 2s ease both;
    }

    @include mq(md, max) {
      &::before {
        content: attr(data-counter);
        font-variation-settings: var(--font-weight-black);
        position: absolute;
        top: var(--size-header-offset);
        line-height: 2em;
        position: fixed;
        left: var(--grid-margin);
      }
    }
  }

  @include mq(md) {
    --item-width: calc(7/12*100%);
  }
}

@keyframes scrollerBar {
  from {
    transform: scaleX(0%);
  }

  to {
    transform: scaleX(100%);
  }
}