section {
  padding: var(--size-header-offset) var(--grid-margin) var(--size-footer-offset);
}

/*

:root {
  --transition-in-delay: 400ms;
  --transition-opacity-duration: 300ms;
}

section {
  overflow: auto; // important, enables scroll
  outline: 0;

  position: fixed;
  inset: 0;
  z-index: -1;

  height: 100svh;
  padding: var(--size-header-offset) var(--grid-margin) var(--size-footer-offset);

  // inactive state
  pointer-events: none;
  opacity: 0;

  // load out
  transition: opacity var(--transition-opacity-duration) ease-in;
  transition-delay: 0ms;

  &.is-active {
    position: static;
    opacity: 1;
    pointer-events: auto;

    // load in
    transition: opacity var(--transition-opacity-duration) ease-in;
    transition-delay: var(--transition-in-delay); // allow previous section time to animate before fading out
  }
}
*/