.site-logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  span {
    display: flex;
    flex-direction: column;
    height: 1em;
    line-height: 1em;

    &::before {
      content: attr(data-rickroll);
    }
  }

   &.is-inview {
    span:first-child {
      animation: logo-slide-up 666ms ease both;
    }

    span:last-child {
      animation: logo-slide-in 666ms ease both;
    }
  }
}

@keyframes logo-slide-up {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes logo-slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}