.site-logo {
  display: inline-flex;
  gap: 0px;
  color: var(--color-black-text);
  overflow: hidden;

  &[data-reveal] {
    opacity: 1 !important;
    transform: none !important;
  }

  span {
    display: flex;
    flex-direction: column;
    height: 1em;
    line-height: 1em;
    transition: transform 666ms;
  }

  .vt-logo-1::before {
    content: 'Codrin';
  }

  .vt-logo-2::before {
    content: 'Pavel';
  }

  .vt-logo-2 {
    transform: translateY(-100%);
  }

   &.is-inview {
    .vt-logo-1 {
      animation-name: logo-slide-up;
      animation-duration: 666ms;
      animation-timing-function: ease;
      animation-delay: var(--transition-delay, 25ms);
      animation-fill-mode: both;
    }

    .vt-logo-2 {
      animation-name: logo-slide-in;
      animation-duration: 666ms;
      animation-timing-function: ease;
      animation-delay: var(--transition-delay, 25ms);
      animation-fill-mode: both;
    }
  }
}

@keyframes logo-slide-up {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes logo-slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}