.stat {
  display: flex;
  flex-direction: column;
  height: 100%;

  .figure {
    overflow: hidden;
    display: flex;
  }

  ul {
    margin-top: auto;
  }

  li {
    border-bottom: 1px solid var(--color-border);
    padding: var(--size-sm) 0;
  }
}