.stat {
  display: flex;
  flex-direction: column;
  height: 100%;

  .figure {
    text-indent: -0.3em;
  }

  .type-medium {
    margin-bottom: var(--size-2xl);
  }

  li {
    border-bottom: 1px solid var(--color-border);
    padding: var(--size-md) 0;
  }
}