.whitecards {
  margin-block: var(--size-10xl);

  .columns {
  }

  a {
    background: var(--color-gray-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 2/1;
  }
}