---
order: 11
period: "2017&mdash;2018"
client: "AXIOS Media"
type: "News Publishing Platform"
overview: "Led frontend development for the launch of Axios.com, helping bring its distinctive editorial format to a fast, scalable publishing platform designed for audience growth. One of the most rewarding parts was collaborating directly with the Google News team to improve integration and make sure Axios showed up well from day one. In addition to hands-on development, I partnered with internal and client engineering teams to establish workflows and onboard their editors and developers to the platform."
focus:
  - "Lead Frontend Development"
  - "Enterprise SEO"
  - "Structured Data"
  - "Social Media Optimization"
  - "CMS-Driven Development"
  - "Scalable Publishing Platforms"
  - "Developer Training"
  - "Editorial Workflows"
  - "Design Systems & Component Architecture"
  - "Ad Tech Integrations"
  - "Analytics & A/B Testing"
---

<div class="columns-12" data-reveal style="background:#222">
  {% img "case-studies/axios-media/social_image.png" %}
</div>

<div class="columns-6" data-reveal>
  {% img "case-studies/axios-media/axios-am.jpg" %}
</div>
<div class="columns-6" data-reveal>
  {% img "case-studies/axios-media/mike.jpg" %}
</div>

<div class="columns-3" data-reveal>
  {% img "case-studies/axios-media/swan.png" %}
</div>
<div class="columns-3" data-reveal>
  {% img "case-studies/axios-media/news.png" %}
</div>
<div class="columns-3" data-reveal>
  {% img "case-studies/axios-media/axios-am.png" %}
</div>
<div class="columns-3" data-reveal>
  {% img "case-studies/axios-media/team.png" %}
</div>

<div class="columns-6" data-reveal>
  {% img "case-studies/axios-media/newsletters.jpg" %}
</div>
<div class="columns-6" data-reveal>
  {% img "case-studies/axios-media/events.jpg" %}
</div>
<div class="columns-12" data-reveal style="background:#222">
  {% img "case-studies/axios-media/home.jpg" %}
</div>