---
order: 15
period: "2018/2026"
title: "Ideas On Purpose"
type: "Agency Websites"
overview: "I had the opportunity to collaborate remotely with the sharp, talented team at Ideas On Purpose across a wide range of projects. What began as a single project grew into an almost decade-long partnership built on trust, shared standards, and a deep respect for the craft. Together, we turned beautiful brand and editorial design into polished, high-performing web experiences. The work ranged from static site architecture and CMS-driven publishing to thoughtful front-end engineering. But at its core, it was always about collaboration: bringing ideas to life in a way that felt as intentional, accessible, and human as the design itself."
focus: 
  - "Frontend Development"
  - "Static Site Development"
  - "Headless CMS Integration"
  - "Component Development"
  - "Accessibility / WCAG Compliance"
  - "Semantic HTML"
  - "Responsive Web Development"
  - "Performance Optimization"
  - "Core Web Vitals"
  - "Custom Animations & Motion"
  - "Analytics Integrations"
  - "Cross-Browser Compatibility"
  - "Quality Assurance & Device Testing"
---

<div class="columns-12 cover" data-reveal="clipy" style="background:#000">
  {% img "case-studies/ideas-on-purpose/hero.jpg" %}
</div>

<div class="columns-6 cover" data-reveal>
  {% img "case-studies/ideas-on-purpose/lfl2.jpg" %}
</div>
<div class="columns-6 cover" data-reveal>
  {% img "case-studies/ideas-on-purpose/lfl1.webp" %}
</div>

<div class="columns-12" style="background:#00172F" data-reveal="clipy">
  <video width="1440" height="900" data-src="{{ '/assets/video/case-studies/ideas-on-purpose/bnb60fps.mp4' | url }}" muted playsinline loop></video>
</div>

<div class="columns-6" style="background:#0C1311" data-reveal="clipy">
  <video width="1440" height="900" data-src="{{ '/assets/video/case-studies/ideas-on-purpose/impact.mp4' | url }}" muted playsinline loop></video>
</div>
<div class="columns-6 cover" style="background:#00172F" data-reveal="clipy">
  <video width="1440" height="900" data-src="{{ '/assets/video/case-studies/ideas-on-purpose/bnb2.mp4' | url }}" muted playsinline loop></video>
</div>

<div class="columns-4 cover" data-reveal>
  {% img "case-studies/ideas-on-purpose/iopthumb2.png" %}
</div>
<div class="columns-4 cover" data-reveal>
  {% img "case-studies/ideas-on-purpose/iopthumb3.jpg" %}
</div>
<div class="columns-4 cover" data-reveal>
  {% img "case-studies/ideas-on-purpose/iopthumb1.webp" %}
</div>

<div class="columns-12" style="background:#6FD2BA" data-reveal="clipy">
  <video width="1440" height="900" data-src="{{ '/assets/video/case-studies/ideas-on-purpose/iop_video.mp4' | url }}" muted playsinline loop></video>
</div>