---
order: 7
period: "2021"
client: "Stanley Black & Decker"
type: "ESG Communications"
overview: "Developed a digital ESG reporting experience for Stanley Black & Decker, transforming complex sustainability content into an engaging, highly accessible web experience. Built with a focus on performance, responsive layouts, and polished interactions, the site made detailed reporting easier to explore while maintaining a seamless experience across devices."
focus: 
  - "Accessibility / WCAG Compliance"
  - "Responsive Design"
  - "Performance Optimization"
  - "Core Web Vitals"
  - "Custom Animations"
  - "Interactive Data Presentation"
  - "Content-Rich Interface Development"
  - "Cross-Browser Compatibility"
  - "Quality Assurance & Device Testing"
---

<div class="columns">
  <div class="columns-12 lg:pt-6xl" data-reveal="clipy" style="background:#F1F1F1">
    <video width="1440" height="900" data-src="{{ '/assets/video/case-studies/stanley-black-and-decker/hero.mp4' | url }}" muted playsinline loop></video>
  </div>

  <div class="columns-6 cover" data-reveal>
    {% img "case-studies/stanley-black-and-decker/detail6.png" %}
  </div>
  <div class="columns-6 cover" data-reveal>
    {% img "case-studies/stanley-black-and-decker/detail5.png" %}
  </div>

  <div class="columns-6" data-reveal>
    <video width="1440" height="900" data-src="{{ '/assets/video/case-studies/stanley-black-and-decker/button.mp4' | url }}" muted playsinline loop></video>
  </div>
  <div class="columns-6" data-reveal>
    {% img "case-studies/stanley-black-and-decker/footer.jpg" %}
  </div>

  <div class="columns-12 md:py-10xl" data-reveal="clipy" style="background:#FFDB0A">
    {% img "case-studies/stanley-black-and-decker/detail7.png" %}
  </div>

  <div class="columns-3" data-reveal style="background:#000">
    {% img "case-studies/stanley-black-and-decker/detail.png" %}
  </div>
  <div class="columns-3" data-reveal style="background:#000">
    {% img "case-studies/stanley-black-and-decker/detail2.png" %}
  </div>
  <div class="columns-3" data-reveal style="background:#000">
    {% img "case-studies/stanley-black-and-decker/detail3.png" %}
  </div>
  <div class="columns-3" data-reveal style="background:#000">
    {% img "case-studies/stanley-black-and-decker/detail4.png" %}
  </div>

  <div class="columns-9 cover" data-reveal>
    {% img "case-studies/stanley-black-and-decker/covid.png" %}
  </div>
  <div class="columns-3 cover" data-reveal>
    {% img "case-studies/stanley-black-and-decker/mobile.png" %}
  </div>
</div>