---
order: 13
period: "2015&mdash;2017"
title: "The Dodo"
type: "Social-First Media Platform"
overview: "Contributed over 3 years to The Dodo’s growth into one of the web’s most recognizable social-first media darlings. Initially responsible for maintaining and extending the existing platform, I later led the frontend implementation of a full redesign in collaboration with AREA 17. Beyond hands-on development, I onboarded  the client engineering team, trained newly hired developers, and helped ensure the platform continued to support massive audience growth through enterprise SEO, social distribution, and advertising integrations."

focus:
  - "Lead Frontend Development"
  - "Frontend Architecture"
  - "CMS-Driven Development"
  - "Design Systems & Component Architecture"
  - "Responsive Web Development"
  - "Performance Optimization"
  - "Enterprise SEO"
  - "Structured Data"
  - "Social Media Optimization"
  - "Open Graph & Metadata"
  - "Audience Growth"
  - "Ad Tech Integrations"
  - "Analytics & A/B Testing"
  - "Editorial Workflows"
  - "Scalable Publishing Platforms"
  - "Developer Enablement & Training"
  - "Cross-Browser Compatibility"
---

<div class="columns-12 lg:pt-6xl" data-reveal="clipy" style="background:#3059FF">
  {% img "case-studies/the-dodo/homepage.jpg" %}
</div>

<div class="columns-4" data-reveal>
  {% img "case-studies/the-dodo/follow1.png" %}
</div>
<div class="columns-4" data-reveal>
  {% img "case-studies/the-dodo/follow2.png" %}
</div>
<div class="columns-4" data-reveal>
  {% img "case-studies/the-dodo/follow3.png" %}
</div>

<div class="columns-6" data-reveal>
  {% img "case-studies/the-dodo/feat1.png" %}
</div>
<div class="columns-6" data-reveal>
  {% img "case-studies/the-dodo/feat2.png" %}
</div>

<div class="columns-3" data-reveal>
  {% img "case-studies/the-dodo/card1.png" %}
</div>
<div class="columns-3" data-reveal>
  {% img "case-studies/the-dodo/card2.png" %}
</div>
<div class="columns-3" data-reveal>
  {% img "case-studies/the-dodo/card3.png" %}
</div>
<div class="columns-3" data-reveal>
  {% img "case-studies/the-dodo/card4.png" %}
</div>

<div class="columns-12" data-reveal>
  {% img "case-studies/the-dodo/farm.jpg" %}
</div>