/*
body::before {
  content: "";
  position: fixed;
  left: 50%;
  top: 50%;

  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);

  background:
    linear-gradient(#f00 0 0) center/2px 100% no-repeat,
    linear-gradient(#f00 0 0) center/100% 2px no-repeat;

  pointer-events: none;
  z-index: 999999;
}
*/

[hidden] {
  display: none !important;
}

:where(a) {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

th {
  color: var(--color-white)
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin: 0;
}

:where([class*="aspect-"]) {
  object-fit: cover;
}

:where([class*="border-"]) {
  border: 0 solid currentColor;
}

:where([class*="translate"]) {
  --translate-x: 0;
  --translate-y: 0;
  --rotate: 0;
  --skew-x: 0;
  --skew-y: 0;
  --scale-x: 1;
  --scale-y: 1;

  transform: translate(var(--translate-x), var(--translate-y)) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}