@use "sass:math";
@use 'sass:list';
@use "../tokens" as *;
@use "../mixins" as *;

.columns {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-gap);
  margin-left: calc(var(--column-gap) * -1);
  column-gap: 0 !important;

  >* {
    flex: 0 1 calc(100% - var(--column-gap));
    margin-left: var(--column-gap);

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-top: 0;
    }
  }
}

@each $bp, $bpVal in tokens("breakpoints") {
  $breakpoints: tokens("breakpoints");

  @include mq($bp) {
    $bpName: "";
    $bpName: if(sass(list.index($breakpoints, $bp $bpVal) > 1): "#{$bp}\\:"; else: "");

    /**
      * Column widths
      * e.g. .columns-1, .lg:columns-12
      */
    @for $span from 0 through 12 {

      // mass-apply to all direct descendents with low specificity
      .columns.#{$bpName}columns-#{$span}>*,
      // do not apply to the main .columns container
      .#{$bpName}columns-#{$span}:not(.columns) {
        flex-basis: calc(math.percentage(math.div($span, 12)) - var(--column-gap));
      }

      /**
        Columns offset
        */
      .#{$bpName}ml-#{$span} {
        margin-left: calc(math.percentage(math.div($span, 12)) + var(--column-gap));
      }
      .#{$bpName}mr-#{$span} {
        margin-right: calc(math.percentage(math.div($span, 12)));
      }
    }

    /**
      Columns auto offset
      */
    .#{$bpName}ml-auto {
      margin-left: auto;
    }

    /**
      * Auto column widths
      * e.g. .col-auto, .lg:col-auto
      */
    .columns.#{$bpName}columns-auto>*,
    .#{$bpName}columns-auto:not(.columns) {
      flex-basis: auto;
    }
  }
}