body, 
.type-regular {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: 1.3;
  font-variant-numeric: proportional-nums;
  text-wrap: pretty;
  letter-spacing: -.02em;
}

blockquote, 
.type-medium {
  font-size: var(--font-size-ml);
  font-weight: var(--font-weight-normal);
  line-height: 1.4;
  color: var(--color-balance-text);
}

.type-huge {
  font-size: max(var(--font-size-7xl), 18vh);
  font-weight: 375;
  font-style: normal;
  letter-spacing: -.06em;
  line-height: 1.2;
  color: var(--color-balance-text);
}

h2, h3,
.type-headline {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.036em;
  color: var(--color-faint);
}

:where(p) {
  margin: 0;

  + p {
    margin-top: var(--size-2xl);
  }
}