:where(p) {
  margin: 0;

  +p {
    margin-top: var(--size-2xl);
  }
}

ol {
  line-height: 1.2;
}

:where(blockquote, [class*="heading"]) {
  display: block;
  font-size: var(--font-size-3xl);
  line-height: 1.3;
  font-weight: var(--font-weight-light);
  margin: 0;
}

h2 {
  font-size: var(--font-size-4xl);
  line-height: 1;
  font-weight: var(--font-weight-light);
  margin: 0 0 var(--size-2xl);

  sup {
    vertical-align: super;
    text-transform: uppercase;
    font-size: .4em;
    color: var(--color-faint);
  }
}

h3 {
  font-size: var(--font-size-sm);
  line-height: 1.3;
  font-weight: var(--font-weight-medium);

  margin: 0 0 var(--size-lg);
  color: var(--color-faint);
}

.type-eyebrow {
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: var(--font-weight-normal);
}