---
layout: base.njk
order: 0
---

{% include "home.njk" %}
{% include "about.njk" %}
{% include "work.njk" %}
{% include "projects.njk" %}
{% include "words.njk" %}
{% include "awards.njk" %}