---
layout: base.njk
bodyClass: "home"
---

<section class="home" id="home">
  <div class="wrapper">
    <div class="fullscreen columns md:columns-4">
      <div class="ml-2">
        {% img "portrait.jpg" %}
      </div>
    </div>
  </div>
</section>