<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_meta.njk" %}
    {% include "_favicon.njk" %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {% include "_styles.njk" %}
  </head>

  <body>
    {% include "header.njk" %}

    <main id="main-content" aria-label="Main Content">
      {{ content | safe }}
      {% include "footer.njk" %}
    </main>

    {% include "_scripts.njk" %}
  </body>
</html>