<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_meta.njk" %}
    {% include "_favicon.njk" %}
    {% include "_preloads.njk" %}
    {% include "_styles.njk" %}
  </head>

  <body>
    {% include "header.njk" %}

    <main id="main-content" aria-label="Main Content">
      {{ content | safe }}
    </main>

    {% if not isHorizontal %}
      {% include "footer.njk" %}
    {% endif %}

    {% include "_scripts.njk" %}
  </body>
</html>