---
layout: base.njk
---

{% set previousPost = collections.work | order | getPreviousCollectionItem %}
{% set nextPost = collections.work | order | getNextCollectionItem %}

<section class="study">
  <div class="wrapper">
    {% include "case-study.njk" %}

    <div class="columns md:--column-gap-2xl md:--row-gap-2xl">
      {{ content | safe }}
    </div>
  </div>
</section>