@use "sass:map";
@use "./mixins/fluid" as *;

$tokens: (
  breakpoints: (
    zero: 0px,
    sm: 640px,
    md: 768px,
    lg: 1280px,
    xl: 1600px,
  ),

  colors: (
    keyword: (
      "current": currentColor,
      "inherit": inherit,
      "transparent": transparent,
    ),

    default: (
      "white":  hsl(40, 23%, 95%),
      "black":  hsl(0, 0%, 9%),
      "white-text": hsl(274, 6%, 76%),
      "black-text": hsl(94, 8%, 18%),
      "faint":  hsl(40, 3%, 40%),
      "border": hsl(0, 0%, 9%),
    ),

    theme: (
      none: (),
    )
  ),

  font-family: (
    sans: "'Inter',system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif"
  ),

  font-size: (
    xs: fluid(10px, 12px),
    sm: fluid(11px, 13px),
    md: fluid(14px, 16px),
    ml: fluid(16px, 18px),
    lg: fluid(18px, 22px),
    xl: fluid(22px, 28px),
    2xl: fluid(26px, 32px),
    3xl: fluid(24px, 36px),
    4xl: fluid(32px, 52px),
    5xl: fluid(44px, 64px),
    6xl: fluid(48px, 80px),
    7xl: fluid(100px, 200px),
  ),

  font-weight: (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900,
    extrablack: 950,
  ),

  radius: (
    zero: 0,
    xs: fluid(2px, 4px),
    sm: fluid(4px, 8px),
    md: fluid(8px, 12px),
    ml: fluid(10px, 16px),
    lg: fluid(16px, 24px),
    xl: fluid(20px, 32px),
    max: 1e5px,
  ),

  blur: (
    xs: blur(#{fluid(1px, 2px)}),
    sm: blur(#{fluid(2px, 4px)}),
    md: blur(#{fluid(4px, 6px)}),
    ml: blur(#{fluid(5px, 8px)}),
    lg: blur(#{fluid(8px, 12px)}),
    xl: blur(#{fluid(10px, 16px)}),
  ),

  ratio: (
    auto: auto,
    square: "1 / 1",
    video: "16 / 9",
    ultrawide: "21 / 9",
    golden: "1 / 0.618",
    golden-portrait: "0.618 / 1",
    "1-1": "1 / 1",
    "16-9": "16 / 9",
    "21-9": "21 / 9",
    "1-2": "1 / 2",
    "2-1": "2 / 1",
    "3-2": "3 / 2",
    "2-3": "2 / 3",
    "4-3": "4 / 3",
    "3-4": "3 / 4",
  ),

  shadow: (
    xs: var(--shadow-inset, ) var(--shadow-offset-x, var(--shadow-offset, 0px)) var(--shadow-offset-y, var(--shadow-offset, 0px)) var(--size-2xs) var(--shadow-spread, 0px) var(--shadow-color, rgba(0, 0, 0, 0.20)),
    sm: var(--shadow-inset, ) var(--shadow-offset-x, var(--shadow-offset, 0px)) var(--shadow-offset-y, var(--shadow-offset, 0px)) var(--size-sm) var(--shadow-spread, 0px) var(--shadow-color, rgba(0, 0, 0, 0.20)),
    md: var(--shadow-inset, ) var(--shadow-offset-x, var(--shadow-offset, 0px)) var(--shadow-offset-y, var(--shadow-offset, 0px)) var(--size-md) var(--shadow-spread, 0px) var(--shadow-color, rgba(0, 0, 0, 0.20)),
    ml: var(--shadow-inset, ) var(--shadow-offset-x, var(--shadow-offset, 0px)) var(--shadow-offset-y, var(--shadow-offset, 0px)) var(--size-ml) var(--shadow-spread, 0px) var(--shadow-color, rgba(0, 0, 0, 0.20)),
    lg: var(--shadow-inset, ) var(--shadow-offset-x, var(--shadow-offset, 0px)) var(--shadow-offset-y, var(--shadow-offset, 0px)) var(--size-xl) var(--shadow-spread, 0px) var(--shadow-color, rgba(0, 0, 0, 0.20)),
    xl: var(--shadow-inset, ) var(--shadow-offset-x, var(--shadow-offset, 0px)) var(--shadow-offset-y, var(--shadow-offset, 0px)) var(--size-2xl) var(--shadow-spread, 0px) var(--shadow-color, rgba(0, 0, 0, 0.20)),
  ),

  size: (
    auto: auto,
    zero: 0px,
    3xs: fluid(1px, 2px),
    2xs: fluid(2px, 4px),
    xs: fluid(3px, 6px),
    sm: fluid(4px, 8px),
    md: fluid(8px, 12px),
    ml: fluid(10px, 16px),
    lg: fluid(14px, 20px),
    xl: fluid(16px, 24px),
    2xl: fluid(20px, 32px),
    3xl: fluid(24px, 40px),
    4xl: fluid(30px, 48px),
    5xl: fluid(36px, 56px),
    6xl: fluid(42px, 64px),
    7xl: fluid(48px, 72px),
    8xl: fluid(56px, 80px),
    9xl: fluid(64px, 96px),
    10xl: fluid(80px, 120px),
    header-offset: calc(var(--header-height) + var(--size-10xl)),
    header-offset-xs: calc(var(--header-height) + var(--size-5xl)),
    max: 1e5px,
  ),
);

// Gets a deeply nested value from the $tokens object.
// Example: tokens("size", "auto")

@function tokens($keys...) {
  $value: $tokens;

  @each $key in $keys {
    $value: map.get($value, $key);

    @if $value == null {
      @error "`#{$key}` not found in $tokens.";
    }
  }

  @return $value;
}